<div class="dr-slider">
  <div class="item item-shadow">
    <img src="/images/slider/slide_1.png" class="img-responsive" alt="">
    <div class="dr-landing-slider-caption dr-landing-slider-caption-lowercase">
      ДелоРуб
      <div class="dr-landing-slider-caption-content-top dr-landing-slider-caption-content-bold">
        - это сайт, где Вы найдете исполнителя для любого поручения.
      </div>
      <div class="dr-landing-slider-caption-content-subcontent">
        <div class="dr-landing-slider-caption-content-subcontent-left">
          <div class="dr-landing-slider-arrow-left">
            <a class="dr-landing-slider-arrow-left-link" href="<%= how_it_works_path %>"></a>
          </div>
          <p>ЗАКАЗЧИКАМ</p>
          <p>
            Наши мастера справятся с задачей в удобное для Вас
            время, при этом Вы платите напрямую мастеру, без
            комиссий и переплат.
          </p>
        </div>
        <div class="dr-landing-slider-caption-content-subcontent-right">
          <div class="dr-landing-slider-arrow-right">
            <a class="dr-landing-slider-arrow-right-link" href="<%= how_to_master_path %>"></a>
          </div>
          <p>МАСТЕРАМ</p>
          <p>
            Если Вы профессионал своего дела - станьте мастером
            ДелоРуба и начните зарабатывать прямо сейчас.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dr-wrap-button">
    <div class="dr-wrap-button-left">
      <a href="<%= new_task_path %>" class="btn dr-button-blueFull">Создать задание</a>
    </div>
    <div class="dr-wrap-button-right">
      <a href="<%= new_profile_path %>" class="btn dr-button-blueFull">Стать мастером</a>
    </div>
</div>
