<%= render 'slider' %>
<div class="dr-bottom-service">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <a href="<%= category_tasks_path(category_id: category) %>" class="dr-bottom-service-heading">
          <img class="img-responsive" src="<%= category.photo.thumb.url %>" alt="">
          <span><%= category.title %></span>
        </a>
      </div>
    <% end %>
  </div>
</div>
