.index-image
  .container
    .index-image__header
      | Найдите исполнителя для
      br/
      | любого поручения
    .index-image-content
      .index-image-content__text
        p
          | Бесплатно для&nbsp;
          a.link-default href="#" заказчиков
        p
          | Без комиссий и платы за отклики для&nbsp;
          a.link-default href="#" исполнителей
      = form_tag categories_path, method: :get, class: 'search_categories'
        = hidden_field_tag :form_identity, 'main_form'
        = hidden_field_tag :form_keyword_field, 'query'
        .row
          .col-md-7
            .index-image-content__input
              = content_tag 'category-suggest', ''
              = submit_tag 'Создать задание', class: 'dr-btn-danger'
      .index-image-content__sub
        p
          | Например,&nbsp;
          - random_categories.each_with_index do |category, index|
            - if index > 0
              |  или&nbsp;
            a.link-default href=new_category_tasks_path(category)
              = category.title
.container
  .index-content
    .index-content-block
      .index-header
        | Категории услуг
      .row.align-items-stretch
        - main_categories.each do |category|
          .col-md-4.col-margin-bottom
            .dr-category.dr-category--courier
              a href=new_category_tasks_path(category)
                .dr-category__header
                  = category.title
              .dr-category__text
                - category.children.each do |child|
                  a href=new_category_tasks_path(child)
                    = child.title
      br/
      a.dr-btn-default href=categories_path  Смотреть категории
    br/
    .index-content-block
      .how-it-works-block
        .index-header
          | Как это работает
        .row.align-items-stretch
          .col-lg-4
            .how-it-works-block__step
              .how-it-works-block__step-content
                a.link-default href="#"  Создайте задание
                p
                  | Опишите задачу, которую нужно выполнить.
                  | Уведомление о вашем задании получат все подходящие мастера.
                hr.toggle-hr/
              .how-it-works-block__step-1 1
          .col-lg-4
            .how-it-works-block__step
              .how-it-works-block__step-content
                a.link-default href="#"  Ознакомьтесь с предложениями
                p
                  | Предложения соискателей появятся прямо под заданием.
                  | Просмотрите их анкеты с отзывами, сравните условия работы и стоимость.
                hr.toggle-hr/
              .how-it-works-block__step-2 2
          .col-lg-4
            .how-it-works-block__step
              .how-it-works-block__step-content
                span Выберите исполнителя
                p
                  | Обсудите с кандидатами детали заказа и назначьте исполнителя
                  | с самым выгодным для вас предложением.
              .how-it-works-block__step-3 3
        a.dr-btn-danger href="#" data-identity="how_btn" Создать задание
    br/
    .index-content-block
      .out-advantages-block
        .index-header
          | Преимущества нашего сервиса
        .row.align-items-stretch
          .col-lg-4.col-margin-bottom
            .advantages-card
              .advantages-card__image.advantages-card__image--ruble
              .advantages-card__content
                .advantages-card__header
                  | Бесплатное размещение  заданий
                .advantages-card__text
                  | Для того, чтобы разместить задание достаточно зарегистрироваться.
                  | Создавайте задания где и когда хотите бесплатно.
          .col-lg-4.col-margin-bottom
            .advantages-card
              .advantages-card__image.advantages-card__image--percent
              .advantages-card__content
                .advantages-card__header
                  | Нет комиссии и скрытых платежей
                .advantages-card__text
                  | Вы оплачиваете работу исполнителя напрямую. При этом цены
                  | у частных мастеров в 2 раза ниже, ведь у них нет расходов
                  | на аренду, рекламу и зарплату сотрудникам.
          .col-lg-4.col-margin-bottom
            .advantages-card
              .advantages-card__image.advantages-card__image--feedback
              .advantages-card__content
                .advantages-card__header
                  | Честные рейтинги и реальные отзывы
                .advantages-card__text
                  | Отзывы об исполнителях могут писать только реальные пользователи,
                  | а рейтинг нельзя накрутить. Наши модераторы следят за
                  | достоверностью любых данных на сайте.
        br/
        a.dr-btn-danger href="#" data-identity="star_btn" Создать задание
    .index-content-block
      .row
        .col-lg-4
          .bottom-block
            a href="#"
              .bottom-block__left
                | Как стать исполнителем
        .col-lg-4
          .bottom-block
            a href="#"
              .bottom-block__middle
                | Вопрос-ответ
        .col-lg-4
          .bottom-block
            a href="#"
              .bottom-block__right
                | Безопасность и гарантии
