<div class="dr-block-style dr-block-style--profile-left">
  <div class="performer-description-category">
    <div class="performer-description-category__header">
      <h5>
        <a href="#" class="link-default">Курьерская доставка</a>
      </h5>
    </div>
    <div class="performer-description-category__text">
      <p>
        <b>Цены</b>
      </p>
      <p>
        от 450 руб/поездка по городу,<br/>
        от 700 руб Подмосковье. <br/>
        Остальные работы - договорные
      </p>
    </div>
  </div>
</div>
<br/>
