<%= render 'info' %>

<div class="dr-master-profile-sub-header">
  <div class="master-active">
    <a>Отзывы</a>
  </div>
  <div>
    <a>Примеры работ</a>
  </div>
</div>

<div class="row row-eq-height dr-master-profile-review">
  <div class="col-md-2 border-right">
    <div class="dr-one-ticket-ticket-avatar">
      <div class="dr-vacancy-content-avatar-roundInner">
        <a href="#" class='dr-top-nav-icon icon-avtoriz'></a>
      </div>
    </div>
    <br/>
    <div class="dr-one-ticket-ticket-name">
      <p>Александр <br/> Ермолаев</p>
    </div>
    <div class="dr-one-ticket-ticket-rating">
      <br/>
      <br/>
      <span class="gray-text-light">Рейтинг</span>
      <br/>
      <span class="bold-text-light">41775</span>
    </div>
  </div>

  <div class="col-md-8 dr-one-ticket-ticket-content gray-text">
    <span class="dr-news-content-date">06.02.2017</span>
    <p>
      Небольшая путаница с маршрутом, но по графику всё успелось.
      Хотелось бы, чтобы на маршрут ездил один и тот же курьер.
      Небольшая путаница с маршрутом, но по графику всё успелось.
      Хотелось бы, чтобы на маршрут ездил один и тот же курьер, которому
      не нужно было объяснять, где найти вход на территорию... <span class="black-text"><a class="cursor-pointer">Показать все</a></span>
    </p>

    <div class="row dr-master-profile-review-content-sub">

      <div class="col-md-6 dr-master-profile-review-content-sub-task">
        <p class="bold-text">
          Задание:
        </p>
        <p>
          Подбор мебели по 3D визуалам
        </p>
        <p class="bold-text-light">
          Смотреть задание
        </p>
      </div>

      <div class="col-md-6">
        <div class="row dr-one-ticket-ticket-photo">
          <div class="col-md-4">
            <img src="/images/ticket/img_1.png" class="img-responsive" alt=""/>
          </div>
          <div class="col-md-4">
            <img src="/images/ticket/img_2.png" class="img-responsive" alt=""/>
          </div>
          <div class="col-md-4">
            <img src="/images/ticket/img_3.png" class="img-responsive" alt=""/>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="col-md-2 padding-none">
    <div class="dr-master-profile-review-characteristics">
      <div class="dr-all-masters-stars">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      </div>
      <p class="bold-text-light">
        Скорость
      </p>
    </div>
    <div class="dr-master-profile-review-characteristics">
      <div class="dr-all-masters-stars">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      </div>
      <p class="bold-text-light">
        Цена / качество
      </p>
    </div>
    <div class="dr-master-profile-review-characteristics without-border">
      <div class="dr-all-masters-stars">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      </div>
      <p class="bold-text-light">
        Общее впечатление
      </p>
    </div>
  </div>

</div>

<div class="row row-eq-height dr-master-profile-review">
  <div class="col-md-2 border-right">
    <div class="dr-one-ticket-ticket-avatar">
      <div class="dr-vacancy-content-avatar-roundInner">
        <a href="#" class='dr-top-nav-icon icon-avtoriz'></a>
      </div>
    </div>
    <br/>
    <div class="dr-one-ticket-ticket-name">
      <p>Александр <br/> Ермолаев</p>
    </div>
    <div class="dr-one-ticket-ticket-rating">
      <br/>
      <br/>
      <span class="gray-text-light">Рейтинг</span>
      <br/>
      <span class="bold-text-light">41775</span>
    </div>
  </div>

  <div class="col-md-8 dr-one-ticket-ticket-content gray-text">
    <span class="dr-news-content-date">06.02.2017</span>
    <p>
      Спасибо за работу, все хорошо.
    </p>

    <div class="row dr-master-profile-review-content-sub">

      <div class="col-md-6 dr-master-profile-review-content-sub-task">
        <p class="bold-text">
          Задание:
        </p>
        <p>
          Доставить документы
        </p>
        <p class="bold-text-light">
          Смотреть задание
        </p>
      </div>

      <div class="col-md-6">

      </div>

    </div>

  </div>

  <div class="col-md-2 padding-none">
    <div class="dr-master-profile-review-characteristics">
      <div class="dr-all-masters-stars">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      </div>
      <p class="bold-text-light">
        Скорость
      </p>
    </div>
    <div class="dr-master-profile-review-characteristics">
      <div class="dr-all-masters-stars">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      </div>
      <p class="bold-text-light">
        Цена / качество
      </p>
    </div>
    <div class="dr-master-profile-review-characteristics without-border">
      <div class="dr-all-masters-stars">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      </div>
      <p class="bold-text-light">
        Общее впечатление
      </p>
    </div>
  </div>

</div>

<div class="row row-eq-height dr-master-profile-review">
  <div class="col-md-2 border-right">
    <div class="dr-one-ticket-ticket-avatar">
      <div class="dr-vacancy-content-avatar-roundInner">
        <a href="#" class='dr-top-nav-icon icon-avtoriz'></a>
      </div>
    </div>
    <br/>
    <div class="dr-one-ticket-ticket-name">
      <p>Александр <br/> Ермолаев</p>
    </div>
    <div class="dr-one-ticket-ticket-rating">
      <br/>
      <br/>
      <span class="gray-text-light">Рейтинг</span>
      <br/>
      <span class="bold-text-light">41775</span>
    </div>
  </div>

  <div class="col-md-8 dr-one-ticket-ticket-content gray-text">
    <span class="dr-news-content-date">06.02.2017</span>
    <p>
      Небольшая путаница с маршрутом, но по графику всё успелось.
      Хотелось бы, чтобы на маршрут ездил один и тот же курьер.
      Небольшая путаница с маршрутом, но по графику всё успелось.
      Хотелось бы, чтобы на маршрут ездил один и тот же курьер, которому
      не нужно было объяснять, где найти вход на территорию... <span class="black-text"><a class="cursor-pointer">Показать все</a></span>
    </p>

    <div class="row dr-master-profile-review-content-sub">

      <div class="col-md-6 dr-master-profile-review-content-sub-task">
        <p class="bold-text">
          Задание:
        </p>
        <p>
          Подбор мебели по 3D визуалам
        </p>
        <p class="bold-text-light">
          Смотреть задание
        </p>
      </div>

      <div class="col-md-6">

      </div>

    </div>

  </div>

  <div class="col-md-2 padding-none">
    <div class="dr-master-profile-review-characteristics">
      <div class="dr-all-masters-stars">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      </div>
      <p class="bold-text-light">
        Скорость
      </p>
    </div>
    <div class="dr-master-profile-review-characteristics">
      <div class="dr-all-masters-stars">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      </div>
      <p class="bold-text-light">
        Цена / качество
      </p>
    </div>
    <div class="dr-master-profile-review-characteristics without-border">
      <div class="dr-all-masters-stars">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      </div>
      <p class="bold-text-light">
        Общее впечатление
      </p>
    </div>
  </div>

</div>

<div class="border-top">
  <button type="button" class="btn dr-button-empty">Показать еще</button>
</div>

<div class="border-top">
  <button type="button" class="btn dr-button-blue">Предложить персональное задание</button>
</div>
