<%= render 'info' %>

<div class="dr-master-profile-sub-header">
  <div class="master-active">
    <a>Отзывы</a>
  </div>
  <div>
    <a>Примеры работ</a>
  </div>
</div>

<% if policy(resource).personal_task? %>
<div class="border-top">
  <button type="button" class="btn dr-button-blue">Предложить персональное задание</button>
</div>
<% end %>
