= render layout: 'my/billing/confirm/layout'
  = form_tag.align-center confirm_my_billing_path(@model.id), method: :post do
    a.dr-btn-primary.mr-4 href=new_delocoin_path role="button"  Вернуться
    input.dr-btn-danger type="submit" value="Продолжить"
