<%= form_for(resource, as: :reply, url: task_replies_path(task.id)) do |f| %>
  <div class="row margin-none">
    <div class="col-md-12 padding-none">
      <div class="dr-one-ticket-ask-master-header">
        <div class="dr-header-span without-border">
          <p class="dr-header-span-unmarked">
            Отклик на задание
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-eq-height margin-none">
    <div class="col-md-2">
      <div class="dr-one-ticket-ticket-avatar">
        <%= render 'shared/user_photo', user: current_user %>
      </div>
      <br/>
      <div class="dr-one-ticket-ticket-name">
        <% if user_signed_in? %>
          <p><%= current_user.name %></p>
        <% else %>
          <p>Вы</p>
        <% end %>
      </div>
      <div class="dr-one-ticket-ticket-rating">
        <br/>
        <br/>
        <span class="gray-text-light">Рейтинг</span>
        <br/>
        <span class="bold-text-light">0</span>
      </div>
    </div>
    <div class="col-md-10 dr-one-ticket-ask-master-content">
      <div class="dr-task-description dr-task-div">
        <span class="textarea-label">Ваш комментарий</span>
        <%= f.text_area :content, autofocus: true, class: 'form-control', cols: 6, rows: 60, placeholder: 'Введите ваш комментарий' %>
        <div>
          <div class="dr-one-ticket-ask-master-content-send">
            <input type="submit" class="btn dr-button-blueFull" value="Отправить" />
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
