<div class="dr-container">
  <div class="dr-header-span">
    <h2><%= resource.title %></h2>
  </div>
  <%= render 'help_categories/search' %>
  <div class="row dr-news row-eq-height dr-news-first">
    <div class="col-xs-12 col-sm-12 dr-news-content">
      <%= resource.content %>
    </div>
  </div>
  <%= render 'help_questions/form' %>
</div>
