<tr>
  <td valign="middle">
    <table style="padding-left: 40px;padding-right: 40px;color:#4a4a4a; font-size:30px;border-top: solid 1px #d1d1d1;width: 100%;">
      <tr>
        <td>
          <br/>
          Пополнение баланса
          <br/>
          <br/>
        </td>
      </tr>
    </table>
    <table style="padding-left: 40px;padding-right: 40px;color: #4a4a4a;">
      <tr>
        <td>
          <b>Имя пользователя: </b> <%= @user.name %>
          <br/>
          <br/>
        </td>
      </tr>
    </table>
    <table style="padding-left: 40px;padding-right: 40px;color: #4a4a4a;border-top: solid 1px #d1d1d1;width: 100%;">
      <tr>
        <td>
          <br/>
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="33" viewBox="0 0 43 33">
            <path fill="#60ad12" fill-rule="nonzero" d="M42.179 4.61L38.409.842a2.565 2.565 0 0 0-1.883-.776c-.74 0-1.368.258-1.885.776l-18.18 18.206-8.147-8.175a2.565 2.565 0 0 0-1.884-.776c-.74 0-1.368.258-1.885.776l-3.77 3.769A2.565 2.565 0 0 0 0 16.526c0 .739.259 1.367.776 1.885l10.032 10.03 3.769 3.77a2.564 2.564 0 0 0 1.884.775c.74 0 1.367-.259 1.885-.776l3.769-3.768L42.179 8.379a2.567 2.567 0 0 0 .776-1.885c0-.738-.26-1.366-.776-1.884z"/>
          </svg>
          <br/>
          <br/>
        </td>
        <td style="color:#60ad12">
          Операция успешно произведена
        </td>
      </tr>
    </table>
    <table style="padding-left: 40px;padding-right: 40px;color: #4a4a4a;border-top: solid 1px #d1d1d1;width: 100%;">
      <tr>
        <td>
          <br/>
          <b>Пополнение баланса</b>
          <br/>
          <br/>
        </td>
      </tr>
      <tr>
        <td>
          Сумма пополнения: <%= @model.amount %> руб.
          <br/>
          <br/>
          <br/>
        </td>
      </tr>
      <tr>
        <td>
          <b>Выбранный способ оплаты</b>
          <br/>
          <br/>
        </td>
      </tr>
      <tr>
        <td>
          <%= formatted_pay_type(@model.pay_type) %>
          <br/>
          <br/>
          <br/>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to 'Личный кабинет', my_index_index_url, style: 'color:#fff;padding: 14px 30px; border-radius: 4px; background-color: #519dc7;text-decoration: none;box-shadow: 0 1px 4px 0 rgba(174, 173, 173, 0.5);' %>
          <br/>
          <br/>
          <br/>
        </td>
      </tr>
    </table>
  </td>
</tr>
