<div class="row margin-none">
  <div class="col-md-12 padding-none">
    <div class="dr-one-ticket-ask-master-header">
      <div class="dr-header-span without-border">
        <p class="dr-header-span-unmarked">
          Сообщение мастеру
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row row-eq-height margin-none">
  <div class="col-md-2">
    <div class="dr-one-ticket-ticket-avatar">
      <%= render 'shared/user_photo', user: current_user %>
    </div>
    <br/>
    <div class="dr-one-ticket-ticket-name">
      <% if user_signed_in? %>
        <p><%= current_user.name %></p>
      <% else %>
        <p>Вы</p>
      <% end %>
    </div>
    <div class="dr-one-ticket-ticket-rating">
      <br/>
      <br/>
      <span class="gray-text-light">Рейтинг</span>
      <br/>
      <span class="bold-text-light">0</span>
    </div>
  </div>

  <div class="col-md-10 dr-one-ticket-ask-master-content">
    <div class="dr-task-description dr-task-div">
      <span class="textarea-label">Ваш комментарий</span>
      <textarea name="name" rows="6" cols="60" class="form-control" placeholder="Введите Ваш комментарий"></textarea>
      <div class="">
        <span class="gray-text-light">Осталось: <b>300 символов</b></span>
        <div class="dr-one-ticket-ask-master-content-send">
          <a>
            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
          </a>
          <a>
            <span class="bold-text-light">Прикрепить файл</span>
          </a>
          <button type="button" class="btn dr-button-blueFull">отправить</button>
        </div>
      </div>
    </div>

  </div>
