= render 'my/shared/omniauth_provider', provider: :vkontakte, image_path: '/images/design/vk.png'
= render 'my/shared/omniauth_provider', provider: :odnoklassniki, image_path: '/images/design/ok.png'
= render 'my/shared/omniauth_provider', provider: :facebook, image_path: '/images/design/fb.png'
