<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">Главная</a>

  <span class="breadcrumb-item active">Заказы на бытовой ремонт в Санкт-Петербурге</span>
</nav>

<div class="dr-content-header">
  <p class="dr-content-header__text dr-content-header__text-margin-bottom-none">
    Заказы на бытовой ремонт в Санкт-Петербурге
  </p>
</div>
