<% if heading_categories.count > 0 %>
  <div class="profileRefinement dr-all-task">
    <div class="row">
      <% heading_categories.in_groups(4, false) do |chunk| %>
        <div class="col-md-3">
        <% chunk.each do |category| %>
          <div class="checkbox<%= ' marked' if @category and category.id == @category.id %>">
            <label><a href="<%= current_url(category: category) %>"><%= category.title %></a></label>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
