<div class="row row-eq-height dr-all-task-container">


  <div class="col-md-2 padding-none">
    <div class="dr-one-ticket-ticket-avatar">
      <div class="dr-vacancy-content-avatar-roundInner">
        <a href="#" class='dr-top-nav-icon icon-avtoriz'></a>
      </div>
    </div>
    <br/>
    <div class="dr-one-ticket-ticket-name">
      <p>Александр <br/> Ермолаев</p>
    </div>
    <div class="dr-one-ticket-ticket-rating">
      <br/>
      <br/>
      <span class="gray-text-light">Рейтинг</span>
      <br/>
      <span>41775</span>
    </div>
  </div>
  <div class="col-md-5 dr-one-ticket-ticket-content without-border gray-text">
    <span class="content-header">Перевод с русского на немецкий</span>
    <span class="content-header-sub">Разное / Работа с текстом, копирайтинг, переводы</span>
    <p>
      Необходимо сделать перевод текстов туристической тематики.
      Сроки выполнения - до завтрашней ночи/раннего утра воскресенья.
      Оплата - 120 рублей за 1000 символов... <a class="dr-news-content-show-all">Показать всё</a>
    </p>

    <div class="dr-all-task-adress">
      <p>
        <span class="gray-text-light">Адрес:</span> Виртуальное задание
      </p>
    </div>
  </div>
  <div class="col-md-3 dr-all-task-button-div">
    <span class="dr-header-span-price">3 000 <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span></span>
    <div class="dr-one-ticket-discussion-quote">
      <button type="button" class="btn dr-button-blue">Откликнуться на задание</button>
    </div>
  </div>
  <div class="col-md-2 padding-none">
    <div class="dr-one-ticket-refinement dr-all-task">
      <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
      <p class="gray-text-light">Актуально<br/>до</p>
      <span>20.01.2017</span>
    </div>
    <div class="dr-one-ticket-refinement dr-all-task without-border">
      <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
      <p class="gray-text-light">Удобное<br/>время</p>
      <span>18:30</span>
    </div>
  </div>
</div>
