<div class="dr-container">
  <div class="row">

    <div class="col-sm-12 col-md-8">

      <div class="row">

        <div class="col-md-5">
          <div class="dr-header-span without-border">
            <p>
              Все <p class="dr-header-span-unmarked">&nbsp;задания<p>
            </p>
            <a href="#openDropdown" class="">
              <span class="dr-dropdown-arrow-bottom">
                <b></b>
              </span>
              <!--<span class="dr-dropdown-arrow-top">
                <b></b>
              </span>-->
            </a>
          </div>
        </div>

        <div class="col-md-7 dr-all-task-subdivision">

          <h3>Организация мероприятий</h3>
          <span>Оформление помещений</span>

        </div>

      </div>

    </div>

    <div class="col-sm-12 col-md-4 dr-all-task-categories">

      <a href="#openModal">
        <button type="button" class="btn dr-button-empty">Категории заданий</button>
      </a>

    </div>

  </div>

  <div id="openDropdown" class="dr-dropdown">
    <div class="row">

      <div class="col-md-12">
        <a href="#close" title="Закрыть" class="close">X</a>
        <div class="dr-dropdown-content">
          <a href="#">Мои задания</a>
          <a href="#" class="lastRow">Подходящие задания</a>
        </div>
      </div>
    </div>
  </div>

  <div id="openModal" class="row modal-categories">

    <div class="col-md-12 padding-none">
      <div  class="modal-categories-content">

        <a href="#close" title="Закрыть" class="close">X</a>

        <div class="row margin-none">
          <div class="col-md-12 padding-none modal-categories-content-header">
            <button type="button" class="btn dr-button-blueFull">Все задания</button>
            <button type="button" class="btn dr-button-blue">Мои задания</button>
            <button type="button" class="btn dr-button-blue">Подходящие задания</button>
          </div>
        </div>
        <div class="dr-bottom-service">
          <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/hammer.png" alt="">
                <span>Ремонт</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/broom.png" alt="">
                <span>Уборка</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/student.png" alt="">
                <span>Образование</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/cargo.png" alt="">
                <span>Грузоперевозки</span>
              </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/pomade.png" alt="">
                <span>Красота и здоровье</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/vape.png" alt="">
                <span>Вейпинг</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/cooking.png" alt="">
                <span>Кейтеринг и кулинария</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/sport.png" alt="">
                <span>Спорт и туризм</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/laptop.png" alt="">
                <span>Интернет-услуги</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/cleaner.png" alt="">
                <span>Домашний персонал</span>
              </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/photo.png" alt="">
                <span>Фото и видеосъемка</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/law.png" alt="">
                <span>Юридическая помощь</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/animal.png" alt="">
                <span>Уход за животными</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/cocktail.png" alt="">
                <span>Организация мероприятий</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/horse.png" alt="">
                <span>Тату, пирсинг</span>
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="#" class="dr-bottom-service-heading">
                <img class="img-responsive" src="/images/icons/fix.png" alt="">
                <span>Разное</span>
              </a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="profileRefinement dr-all-task">
    <div class="row">
      <div class="col-md-3">
        <div class="checkbox">
          <label>Ведущие и звёзды</label>
        </div>
        <div class="checkbox marked">
          <label>Оформление помещений</label>
        </div>
        <div class="checkbox">
          <label>Организация детских праздников</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="checkbox">
          <label>Музыкальное сопровождение</label>
        </div>
        <div class="checkbox">
          <label>Организация питания</label>
        </div>
        <div class="checkbox">
          <label>Фотографы</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="checkbox">
          <label>Видеооператоры</label>
        </div>
        <div class="checkbox">
          <label>Праздник под ключ</label>
        </div>
        <div class="checkbox">
          <label>Другие ивент услуги</label>
        </div>
      </div>
    </div>
  </div>

  <% @tasks.each do |task| %>
    <%= render 'task' %>
  <% end %>

  <div class="lastRow">
    <button type="button" class="btn dr-button-empty">Показать еще</button>
  </div>
</div>
