<div class="col-md-2">
  <div class="dr-one-ticket-ticket-avatar">
    <%= render 'shared/user_photo', user: user %>
  </div>
  <br/>
  <div class="dr-one-ticket-ticket-name">
    <% if user_signed_in? %>
      <p><%= current_user.name %></p>
    <% else %>
      <p>Вы</p>
    <% end %>
  </div>
  <div class="dr-one-ticket-ticket-rating">
    <br/>
    <br/>
    <span class="gray-text-light">Рейтинг</span>
    <br/>
    <span class="bold-text-light">0</span>
  </div>
</div>
