<div class="col-md-2 border-right">
  <div class="dr-one-ticket-ticket-avatar">
    <%= render 'shared/user_photo', user: user %>
  </div>
  <br/>
  <%= render 'shared/user/name', user: user %>
  <div class="dr-one-ticket-ticket-rating">
    <br/>
    <br/>
    <span class="gray-text-light">Рейтинг</span>
    <br/>
    <span class="bold-text-light">0</span>
  </div>
</div>
