.select2 {
    padding-top: 10px;
}

.select2-container--default {
    width: 100% !important;
    text-align: left;
    span.select2-selection {
        padding: 19px 10px;
        border-radius: 19px;
        background-color: transparent;
        color: #6b6b6b;
        &__rendered {
            font-size: 1.2rem;
            font-weight: normal;
            margin-top: -13px;
            color: #6b6b6b !important;
        }
        &__arrow {
            top: 16px !important;
            b {
                border-width: 6px 3px 0 !important;
                border-color: #695656 transparent transparent !important;
            }
        }
    }
}
