$PFDinL: "PFDinLight", sans-serif
$PFDinMed: "PFDinDisplayPro-Medium", sans-serif
$PFDinThin: "PFDinDisplayPro-Thin", sans-serif
$PFDinExThin: "PFDinDisplayPro-ExtraThin", sans-serif
$color: #4c4c4c
$screen-sml-min: ($screen-sm-min + $screen-md-min) / 2
$borderRadius: 25px
$border: 1px solid rgba(128, 128, 128, 0.3)
$shadowHover: 0 0 10px 2px rgba(0, 0, 0, 0.12);