$PFDinL: "PFDinLight", sans-serif
$PFDinMed: "PFDinDisplayPro-Medium", sans-serif
$PFDinThin: "PFDinDisplayPro-Thin", sans-serif
$PFDinExThin: "PFDinDisplayPro-ExtraThin", sans-serif
$PFDinItalic: "PFDinDisplayPro-Italic", sans-serif
$PFDinBold: "PFDinDisplayBold-Italic", sans-serif
$color: #4c4c4c
$screen-sml-min: ($screen-sm-min + $screen-md-min) / 2
$screen-lgm-min: ($screen-lg-min + 240)
$screen-lgl-min: ($screen-lg-min + 480)
$borderRadius: 25px
$border: 1px solid rgba(128, 128, 128, 0.3)
$shadowHover: 0 0 10px 2px rgba(0, 0, 0, 0.12)
$shadowHeader: 4px 6px 20px 2px rgba(0, 0, 0, 0.12)
$errorColor: #ed6161
$blueColor: #25c0ec
