$PFDinL: "PFDinLight", sans-serif
$PFDinMed: "PFDinDisplayPro-Medium", sans-serif
$PFDinThin: "PFDinDisplayPro-Thin", sans-serif
$PFDinExThin: "PFDinDisplayPro-ExtraThin", sans-serif
$color: #4c4c4c
$screen-sml-min: ($screen-sm-min + $screen-md-min) / 2
