.dr-all-masters {
    &-categories {
        &-row {
            border-top: $border;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            &-category {
                &-content {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                cursor: pointer;
                border-right: $border;                
                height: 50px;
                padding: 10px 0;
                vertical-align: middle;
                position: relative;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
    &-input {
        @extend .dr-task-div;
        padding: 30px 30px;
        text-align: left;
        .current-value {
            margin-left: 37%;
        }
        .dr-all-masters-stars {
            display: inline-block;
            float: right;
        }
        .slider-selection {
            background: #25c0ec;
        }
        .slider-handle {
            background-image: none;
            background-color: #49d3fb;
            border: 2px solid #25c0ec;
        }
        span {
            &:first-child {
                @extend .bold-text;
            }
        }
        input[type=text] {
            border-radius: $borderRadius;
            width: 45%;
            display: inline-block;
            margin-top: 10px;
            padding: 18px 15px;
            color: #6b6b6b;
        }
        input+input {
            margin-left: 15px;
        }        
    }
    &-stars {        
        span.glyphicon {
            cursor: pointer;
            font-size: 1.4rem;
            padding-left: 3px;
            &:hover ~ span.glyphicon {
                opacity: 0.5;
            }
            &:first-child {
                padding-left: 0;
            }
        }
        span.glyphicon-star {
            @extend .glyphicon;
            color: #ffe117;
        }
    }
    &-content {
        &-more {
            position: relative;
            bottom: -50px;
        }
        &-button {
            .btn {
                float: right; 
            }            
        }
    }
    &-days {
        height: 100%;
        &-blocks {
            height: 100%;
            padding-top: 10px;
        }        
    }
    &-price {
        > span {
            @extend .bold-text;
            padding-left: 10px;
            &:first-child {
                font-size: 2.5rem;
                padding-left: 0;
            }
        }
        span.glyphicon {
            font-size: 1.2rem;
            padding-left: 10px;
        }
    }
}

.category-active {
    color: white;
    background-color: #25c0ec;
    position: relative;    
    &:after {
        content: '';
        border: 8px solid transparent;
        border-top: 8px solid #25c0ec;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        bottom: -16px;
        width: 0;
    }
    &:hover {        
        color: white;
    }
}
