.profileRefinement {
    text-align: left;
    padding: 10px 30px;
    color: darken(#b7b7b7, 30%);
    .marked {
        color: darken(#b7b7b7, 70%);
    }
}
.dr-header-step {
    padding: 0;
    height: 100px;
    vertical-align: middle;
    p:first-child {
        padding: 15px 0px 15px 40px;
    }
    button {
        margin: 29px 0;
    }
}
.steps {
    display: inline-block;
    float: right;
    padding-right: 40px;
}
.dr-profile {
    &-gallery {
        margin: 0 auto;
        img {
            display: inline-block;
        }
    }
    &-avatar {
        background-position: center;
        background-size: cover;
        display: block;
        border: 1px solid rgba(128, 128, 128, 0.3);
        border-radius: 50px;
        width: 100px;
        height: 100px;
        margin: 20px auto;
        padding-top: 25px;
        span {
            font-weight: 400;
            font-size: 1.1rem;
        }
        &:hover {
            cursor: pointer;
        }
        input[type="file"] {
          position: fixed;
          top: -100em;
        }
    }
    &-div {
        margin: 0 auto;
        padding: 30px 20px;
        input.worktime {
            margin: 0 5px;
        }
        span.worktime {
            all: unset;
            color: #6b6b6b;
        }
    }
    &-phoneCheck {
        border-right: 1px solid rgba(128, 128, 128, 0.3);
        border-left: 1px solid rgba(128, 128, 128, 0.3);
        span {
            margin-top: 30px;
            font-weight: bold;
            font-size: 2rem;
        }
        input {
            width: 60%;
            padding: 10px;
            border-radius: 25px;
            background-color: transparent;
            color: #6b6b6b;
            margin: 20px auto 0px;
        }
    }
    &-verification {
        width: 100%;
        font-size: 2rem;
        padding: 16px 20px 16px 20px;
        text-align: left;
        p {
            display: inline-block;
            color: #6b6b6b;
            margin-left: 20px;
        }
        span {
            font-weight: bold;
            font-size: 2.5rem;
            display: inline-block;
            vertical-align: top;
            height: 45px;
            line-height: 70px;
            margin-left: 20px;
        }
        &-middle {
            border-right: 1px solid rgba(128, 128, 128, 0.3);
            border-left: 1px solid rgba(128, 128, 128, 0.3);
        }
    }
}
.btn-group.dr-checkbox {
    margin-top: 10px;
    width: 100%;
    label {
        width: 14.6%;
        border-radius: $borderRadius;
        padding: 8px 0;
        span {
            all: unset;
            color: #96d88e;
        }
    }
    .week-odd {
        background-color: #eeffee;
    }
    .week-end > span {
        color: red;
    }
}
.btn-group.dr-radio{
    margin-top: 10px;
    width: 100%;
    label {
        width: 50%;
        padding: 8px 20px;
        border-radius: $borderRadius;
        input[type=radio] {
            clip: auto !important;
        }
        span {
            all: unset;
            margin-left: 20px;
        }
    }
}
.btn-primary {
    color: #6b6b6b;
    border: 1px solid #ccc;
    background-color: transparent;
    &:active {
        &:hover {
            color: #6b6b6b;
            border: 1px solid #ccc;
            background-color: transparent;
        }
    }
    &:hover {
        color: darken(#6b6b6b, 20%);
        border: 1px solid #ccc;
        background-color: transparent;
    }
}
.btn-primary.active, .btn-primary.active.focus, .btn-primary.focus  {
    color: #6b6b6b !important;
    background-color: #f2f2f2 !important;
    border: 1px solid #ccc;
    box-shadow: none;
    &:hover {
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        color: darken(#6b6b6b, 20%)
    }
}
.btn-primary.focus {
    background-color: transparent !important;
}

ul.step-anchor{
    display: block;
    border: 0;
    padding: 0px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    list-style: none;
    overflow: hidden;
}
ul.step-anchor li+li:before {
    padding: 0;
}
ul.step-anchor > li {
    margin-bottom: -2px;
}

ul.step-anchor > li > a  {
    text-decoration: none;
    padding: 29px 0 29px 45px;
    position: relative;
    display: block;
    border: 0 !important;
    border-radius: 0;
    outline-style:none;
    cursor: default;
    color: darken(#b7b7b7, 30%);
    font-weight: 200;
}
ul.step-anchor > li > a:after, ul.step-anchor > li > a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
ul.step-anchor > li > a:before {
    border-left: 30px solid #ddd;
    margin-left: 1px;
    z-index: 1;
}
ul.step-anchor > li:first-child > a {
    padding-left: 15px;
}

ul.step-anchor > li.active > a {
    border-color: #eeffee !important;
    color: black !important;
    background: #eeffee !important;
    &:after {
        border-left: 30px solid #eeffee !important;
    }
}
ul.step-anchor > li.activated > a {
    color: #96d88e !important;
}


/* Responsive CSS */
@media screen and (max-width: 768px) {
    ul.step-anchor{
        border: 0;
    }
    .nav-tabs > li {
        float: none !important;
        margin-bottom: 0;
    }
    ul.step-anchor > li > a:after, ul.step-anchor > li > a:before {
        display: none;
    }
}
@media screen and (max-width: 992px) {
    .steps {
        display: none;
    }
}
