.dr-header-span {
    font-size: 3rem;
    text-align: left;
    padding: 15px 40px 20px 40px;
    font-weight: bold;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);

    p {
        display: inline-block;
        margin-top: 10px;
    }

    &-unmarked {
        color: darken(#b7b7b7, 30%);
        font-weight: 200;

        &-sub {
            color: #6b6b6b;
            font-size: 1.2rem;
        }
    }

    .btn, a.btn, input {
        margin: 15px 5px;
        float: right;
    }
}

.dr-header-span {
    &-price {
        float: right;
        margin: 12px 5px 12px 40px;
    }
    &-complete {
        font-size: 2rem;
        background-color: #eeffee;
        padding: 23px 40px 28px 40px;
        .glyphicon {
            padding-right: 20px;
            font-size: 3rem;
            color: #32b161;
            vertical-align: middle;
            margin-top: -5px;
        }
    }
    &-error {
        @extend .dr-header-span-complete;
        background-color: #ffd6d6;
        .glyphicon {
            color: #954444;
        } 
    }
}

.content-header {
    font-size: 2.5rem;
    &-sub {
        color: #c4c4c4;
        display: block;
        margin-bottom: 20px;
        margin-top: -5px;
    }
}
