.dr-help {
    &-search {
        input {
            margin: 30px auto;
            width: 90%;
            padding: 10px;
            border-radius: 25px;
            background-color: transparent;
            color: #6b6b6b;
        }
    }
    &-div {
        border-top: 1px solid rgba(128, 128, 128, 0.3);
        //border-right: 1px solid rgba(128, 128, 128, 0.3);
        color: #6b6b6b;
        text-align: left;
        padding: 20px 40px;

        a {
            display: block;
            cursor: pointer;
            margin-top: 10px;
            color: #6b6b6b;
        }
        a.dr-help-div-show-all {
            margin-top: 20px;
            color: #333333;
        }
    }
    &-container {        
        div.row {
            margin-left: 0;
            margin-right: 0;
            div.col-md-3 {
                padding-left: 0;
                padding-right: 0;
                &:hover {
                    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.12);
                }
            }
            @media (min-width: $screen-sm-min) {
                div.col-sm-6:nth-child(odd) {
                    div {
                        border-right: 1px solid rgba(128, 128, 128, 0.3);  
                    }
                }
            }
            @media (min-width: $screen-md-min) {
                div.col-sm-6:nth-child(2) {
                    div {
                        border-right: 1px solid rgba(128, 128, 128, 0.3);  
                    }
                }
            }
        }
    }
    &-complete {
        border-bottom: none;
        box-shadow: 4px 6px 20px 2px rgba(0, 0, 0, 0.12);
    }
    &-question {
        padding: 30px 40px;
        text-align: left;
        input {
            margin-top: 10px;
            width: 100%;
            padding: 10px;
            border-radius: 25px;
            background-color: transparent;
            color: #6b6b6b;
        }
        span {
            font-weight: bold;
            font-size: 1.4rem;
        }
        span.decorationNone {
            font-weight: normal;
            color: #6b6b6b;
        }
        textarea {
            margin-top: 10px;
            resize: none;
            border-radius: 25px;
        }
    }
}