.dr-landing {
    background-color: #f8fbfb;
    .dr-wrap-button {
        position: absolute;
        z-index: 9;
        text-align: center;
        left: 0;
        top: 77%;

        @media (min-width: $screen-xs-min) {
            top: 77%;            
        }    

        @media (min-width: $screen-md-min) {
            top: 78%;            

        }

        @media (min-width: $screen-lg-min) {
            font-size: 1.2em;
            top: 79%;            

        }

        @media (min-width: $screen-lgs-min) {
            font-size: 1.2em;
            top: 80%;
        }

        @media (min-width: $screen-lgm-min) {
            font-size: 1.2em;
            top: 82%;
        }

        right: 0;        
        .btn {
            margin: 0;
        }
    }
    .owl-carousel {
        .owl-dots {
            display: block;
            position: absolute;
            bottom: 40px;
            left: 0;
            right: 0;
        }
    }
    .owl-nav {
        .owl-prev {                    
            &:before {
                color: #fff;                
            }
        }
        .owl-next {                   
            &:before {  
                color: #fff;                
            }
        }
    }
    main.content {
        max-width: 1440px;
        margin: 0 auto;    
    }
    &-slider {
        &-arrow {
            &-left, &-right {
                font-family: $DelorubSliderArrows;
                font-size: 60px !important;        
                cursor: pointer;  
                margin-top: 13px;
            }
            &-left {
                float: left;
                margin-right: 5%;
                height: 120px;
                &-link {
                    padding: 15px 28px 12px 17px;
                    &:before {
                        color: #59ff10;
                        content: "\e801";

                    }
                    &:hover {
                        background: rgba(89, 255, 16, 0.3);                    
                        text-decoration: none;
                        border-radius: 50px;            
                    } 
                }
            }
            &-right {

                float: right;
                margin-left: 5%;
                height: 120px;
                &-link {
                    padding: 15px 17px 12px 28px;
                    &:before {
                        color: #00aeff;
                        content: "\e800";
                    }
                    &:hover {
                        background: rgba(37, 192, 236, 0.3);                    
                        text-decoration: none;
                        border-radius: 50px;            
                    }
                }
            }
        }
        &-caption {            
            font-size: 5rem;
            position: absolute;
            color: #fff;            
            font-family: $PFDinMed;
            text-align: center;
            top: 20%;
            width: 100%;
            text-transform: uppercase;
            z-index: 9;
            &-lowercase {
                text-transform: none;
            }
            &-content {
                &-top, &-bottom {
                    font-size: 1.7rem;                
                    text-transform: none;
                    font-family: $PFDinThin;
                    letter-spacing: 0.1rem;
                    margin-top: 0%;
                }                
                &-bottom {                    
                    margin-top: 6%;                    
                }
                &-bold {
                    font-weight: 600;
                }
                &-subcontent {
                    text-transform: none;
                    margin-top: 3%;
                    &-left, &-right {
                        width: 43%;
                        display: inline-block;
                        text-align: left;
                        vertical-align: top;
                        p {
                            &:nth-child(2) {
                                color: #59ff10;
                                font-size: 2rem;
                            }
                            &:last-child {
                                font-size: 1.4rem;
                                @media (min-width: $screen-lg-min) {
                                    font-size: 1.6rem;
                                }                                
                                letter-spacing: 0.15rem;
                                font-family: $PFDinExThin;
                            }
                        }
                    }
                    &-left {
                        padding-right: 70px;
                    }
                    &-right {
                        padding-left: 55px;
                        p {
                            &:nth-child(2) {
                                color: #00aeff;
                            }
                        }
                    }
                }
                &-subcontent {
                    margin-top: 3%;
                    &-left, &-right {
                        width: 40%;
                        display: inline-block;
                        text-align: left;
                        vertical-align: top;
                        p {
                            &:first-child {
                                color: #59ff10;
                                font-size: 2rem;
                            }
                            &:last-child {
                                font-size: 1.6rem;
                                letter-spacing: 0.15rem;
                                font-family: $PFDinExThin;
                            }
                        }
                    }
                    &-right {
                        padding-left: 55px;
                        p {
                            &:first-child {
                                color: #00aeff;
                            }
                        }
                    }
                }
            }
            @media (min-width: $screen-lg-min) {
                top: 21%;
                &-content {
                    &-top {
                        margin-top: 0.6%;
                    }
                }
            }
        }
    }
    &-container {        
        text-align: left;
        margin: 0 auto;
        &-header {
            background-color: #fff;
            &-div {
                max-width: 960px;
                margin: 0 auto;
                > p {                    
                    font-size: 3rem;
                    font-family: $PFDinItalic;
                    padding-top: 80px;
                    padding-bottom: 10px;
                    border-bottom: $border;
                    color: #444444;
                    > span {
                        color: $blueColor;
                        font-weight: 600;
                    } 
                }
                > ul {
                    letter-spacing: 0.05rem;
                    color: #505050;
                    font-size: 1.6rem;
                    list-style-type: disc;
                    margin: 40px 0 0 15px;            
                    padding-bottom: 40px;
                    li {
                        padding-left: 10px;
                    }
                }  
            }            
        }
        &-subcontent {
            padding: 50px 0;
            &-div {
                max-width: 960px;
                margin: 0 auto;
                > p {
                    letter-spacing: 0.05rem;
                    font-size: 2rem;
                    font-weight: bold;
                    color: #5b5a5a;
                    display: inline-block;
                }
                .btn {
                    @extend .right;
                    margin: 10px 40px 0 0;                
                } 
            }
        }
        &-footer {
            box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .12);
            background-color: #fff;
            text-align: center;
            padding: 50px 0;
            &-div {
                max-width: 960px;
                margin: 0 auto;
                margin-top: 50px;
                .btn {
                    margin-top: 60px;
                }
                &-left, &-center, &-right {
                    p {
                        font-family: $PFDinItalic;
                        font-size: 2.2rem;
                        color: #5e5e5e;
                        margin-bottom: 20px;
                    }
                }
                &-left {
                    p {
                        margin-left: -70px;
                    }
                    &-doubleRowHeader {
                        p {
                            margin-bottom: 0px;
                        }
                        margin-top: -15px;
                    }
                }
                &-center {
                    margin-top: -30px;
                    img {
                        max-width: 115%;
                        margin-left: -7%;
                    }                    
                }
                &-right {
                    p {
                        margin-right: -70px;
                    }
                }
            }
        }
    }
}