.dr-master-profile { 
    &-portfolio {
        padding: 30px;
        &-row {
            &-picture {
                display: inline-block;
                width: 19.5%;
                img {
                    margin: 0 auto;
                    //opacity:1;
                    //background-color:#000;
                    &:hover {
                        filter: sepia(100);
                        cursor: zoom-in;
                    }
                }
            }
        }
    }
    &-review {
        @extend .margin-none;
        @extend .border-top;
        &-characteristics {
            height: 33.33%;
            border-bottom: 1px solid rgba(128, 128, 128, 0.3);
            padding-top: 20px;
        }
        .dr-news-content-date {
            margin-top: 0;
            margin-bottom: 10px;
        }
        &-content {
            &-sub {
                margin-top: 30px;
                &-task {
                    p {
                        @extend .black-text;
                        &:nth-child(1) {                            
                            font-size: 1.4rem;
                            font-weight: bold;
                        }
                        &:nth-child(2) {
                            font-size: 1.4rem;
                        }
                    }                   
                }
            }
        }
    }
    &-header {
        &-content {
            margin-left: 0;
            margin-right: 0;
            box-shadow: $shadowHeader;
            &-roundInner {
                border: 1px solid rgba(128, 128, 128, 0.3);
                border-radius: 50px;
                width: 100px;
                height: 100px;
                padding-top: 30px;
                margin: 25px auto;
            }
        }
        &-price {
            display: inline-block;
            float: right;
            margin-left: 30px;
            > div {
                margin-top: -20px;
            }  
        }
    }
    &-sub-header {
        text-align: left;

        > div {
            font-size: 3rem;
            text-align: center;
            padding: 15px 40px 20px 40px;
            color: #6b6b6b;
            font-weight: 200;
            display: inline-block;
            @extend .border-right;
            &:first-child {
                min-width: 16.666%;
            }
            &:last-child {
                margin-left: -3px;
            }
            &:hover {
                border-top: 4px solid lighten(#25c0ec, 20%); 
            }
        }                
    }
}

.master-active {
    color: white;    
    position: relative;
    border-top: 4px solid #25c0ec;
    &:after, &:before {
        content: '';
        border: solid transparent;
        position: absolute;
        left: 50%;
        margin-left: -6px;
        bottom: -15px;
        width: 0;
    }
    &:before {
        border-top-color: rgba(128, 128, 128, 0.4);
        border-width: 7px;
    }
    &:after {
        border-top-color: #fff;
        border-width: 8px;
        margin-left: -7px;
    }
}

.modal-image {    
    margin: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
    position: fixed;
    overflow-x: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
    &-content {
        margin: 50px auto;
        @extend .padding-none;
        width: 60%;
        background-color: #fff;
        > .row {
            @extend .margin-none;
            > .col-md-2 {
                @extend .padding-none;
            }
        }
        &-yourcomment {
            padding: 20px;
            background-color: #f3fdf9;
            &-textarea {
                background-color: #d8f4e9;
                border-radius: $borderRadius;
                &-button {
                    float: right;
                    position: relative;                    
                    display: inline-block;
                    margin-top: -140px;
                    margin-right: 7%;
                    p {
                        color: #99c5b4;
                    }
                }
                > textarea {
                    border-radius: $borderRadius;
                    resize: none;
                    padding: 15px;
                    width: 70%;
                }
                > span.gray-text-light {
                    margin-top: -25px;
                    position: absolute;
                    right: 40%;
                }
            }
        }
        &-comment {
            text-align: left;
            padding: 10px;
            border-bottom: $border;
            &-name {
                text-transform: uppercase;
            }
            &-time, &-date {
                padding-left: 15px;
                @extend .gray-text-light;
            }
            p {
                @extend .gray-text;
            }
            &:hover {
                box-shadow: $shadowHover;
                .modal-image-content-comment-buttons-remove, .modal-image-content-comment-buttons-edit  {
                    display: inline-block;
                }
            }
            &-buttons {
                float: right;
                margin-top: -33px;
                margin-right: 10px;
                cursor: pointer;
                &-edit, &-remove {
                    margin-left: 10px;
                    display: none;
                }
            }
        }
    }
}

.modal-image:target {
    display: block;
    pointer-events: auto;
}

.close-image {
    background: black;
    opacity: 0.8;
    color: #FFFFFF;
    line-height: 40px;
    position: absolute;
    right: 20%;
    text-align: center;    
    width: 40px;
    height: 40px;
    text-decoration: none;    
    font-size: 2rem;
    &:hover {
        background: #00d9ff;
    }
}