.dr-news {
    font-size: 0.5rem;
    h3{font-size: 1rem;}		
    @media (min-width: $screen-xs-min){
        font-size: 0.9rem;
        h3{font-size: 1.3rem;}

    }
    @media (min-width: $screen-sm-min){
        font-size: 0.8rem;
        h3 {font-size: 1.5rem;}
    }

    @media (min-width: $screen-sml-min){
        font-size: 0.9rem;
        h3 {font-size: 1.8rem;}

    }
    @media (min-width: $screen-md-min){
        font-size: 1.3rem;
        h3 {font-size: 2.5rem;}

    }
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    text-overflow: ellipsis;
    text-align: left; 
    &-image{
        padding-left: 0;
    }
    &-content{
        color: darken(#b7b7b7, 30%);
        overflow: hidden;
        &-show-all{
            color: lighten(black, 20%);
            &:hover {cursor: pointer;}

        }
        &-date{
            color: lighten(#b7b7b7, 5%);
            float: right;
            margin-right: 10px;
            margin-top: 15px;
        }
        &-tags{
            color: lighten(#b7b7b7, 5%);
            a{&:hover {cursor: pointer;}}


            &-read-more {
                float: right;
                margin-right: 10px;
                color: lighten(black, 20%);
            }
        }
    }
    &:hover {
        box-shadow: $shadowHover;
    }
}