.dr-one-ticket {
    box-shadow: $shadowHeader;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    z-index: 2;
    &-ticket {
        &-content {            
            text-align: left;
            padding: 30px 30px 0 30px;
            border-right: $border;
            z-index: 2;            
        }
        &-photo {
            div {
                padding-left: 0;
                padding-right: 0;
            }
        }
        &-avatar {
            a {
                font-size: 2rem;
            }
        }
        &-name {
            p {
                text-transform: uppercase;
            }
        }        
        &-verify {
            p {
                color: #87b787;
                padding: 10px 0;
                background-color: #eefdee;
            }
        }
        &-rating {
            padding-bottom: 20px;
        }
    }
    &-refinement {
        .glyphicon {
            font-size: 2rem;
            padding: 10px 0;            
        }
        p {
            margin: 0;
        }
        border-bottom: $border;
        border-collapse: collapse;
        padding: 10px 0;
        height: 33.33%;
    }
    &-request {
        &-button {
            button {
                width: 80%;
                font-size: 1.2rem;
            }
            border-bottom: $border;
        }
        margin-left: 0;
        margin-right: 0;
        border-bottom: $border;
    }
    &-discussion {
        margin-left: 0;
        margin-right: 0;
        border-bottom: $border;
        position: relative;
        &-content {
            text-align: left;
            padding: 30px;
            height: 100%;
        }
        &-attachment {
            border-top: $border;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: left;
            a {
                &:hover {
                    cursor: pointer;
                }
                span.glyphicon {
                    color: #25c0ec;
                    font-size: 2.5rem;
                    padding: 20px 30px;

                }                
            }
        }
        &-quote {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: right;
            right: 40px;
        }
    }
    &-show-more {
        box-shadow: $shadowHeader;
        position: relative;
        z-index: 2;
    }
    &-ask-master {
        &-header {
            background-color: #f3fdf9;
        }
        &-content {
            background-color: #f3fdf9;
            text-align: left;
            span.textarea-label {
                font-weight: bold;
                font-size: 1.3rem;
            }
            textarea {
                margin: 20px 0;
            }
            &-send {
                float: right;
                span.glyphicon {
                    color: #25c0ec;
                    font-size: 2.5rem;
                    padding: 20px 30px;
                }
                button {
                    margin: 30px 0 30px 30px;
                }
            }
        }
    }
}

.triangle-bottom {
    &:after {
        content: '';
        border: 8px solid transparent;
        border-top: 8px solid #fff;
        position: absolute;
        left: 20%;
        margin-left: -8px;
        bottom: -16px;
        width: 0;
    } 
}