.dr-one-ticket {
    box-shadow: 4px 6px 20px 2px rgba(0, 0, 0, 0.12);
    margin-left: 0px;
    margin-right: 0px;
    &-ticket {
        &-content {            
            text-align: left;
            padding: 30px;
            border-right: $border;
        }
        &-photo {
            div {
                padding-left: 0;
                padding-right: 0;
            }
        }
        &-avatar {
            a {
                font-size: 2rem;
            }
        }
        &-name {
            p {
                text-transform: uppercase;
            }
        }        
        &-verify {
            p {
                color: #87b787;
                padding: 10px 0;
                background-color: #eefdee;
            }
        }
    }
    &-refinement {
        .glyphicon {
            font-size: 2rem;
            padding: 10px 0;            
        }
        p {
            margin: 0;
        }
        border-bottom: $border;
        border-collapse: collapse;
        padding: 10px 0;
        height: 33.33%;
    }
}
.gray-text {
    color: #888888;
}