.dr-search {    
    &-news, &-task, &-master {
        @extend .gray-text;
        text-align: left;        
        border-bottom: $border;
        &-image {
            height: 120px;
            img {
                height: 120px;
                margin: 0 auto;
            }            
        }
        &-content {   
            height: 120px;
            overflow: hidden;
            > p {
                padding-right: 15px;
            }
            &-price, &-date {
                @extend .right;
                margin-right: 20px;
                margin-top: 5px;
            }
            &-price {
                @extend .bold-text;                
            }
            &-date {
                @extend .gray-text-light;                
            }            
        }
        &:hover {
            box-shadow: $shadowHover;
            cursor: pointer;
        }
    }
    &-task, &-master {        
        &-image {            
            img {
                height: 80%;
                margin: 7% auto;
                @extend .img-circle;
            }            
        }               
    }
}