.dr-single-news {
    padding: 25px;
    &-header {
        color: #6b6b6b;
    }
    &-date {
        padding: 0 0 20px 40px;
        margin-top: -15px;
    }    
    &-content {
        color: #6b6b6b;
        p {
            margin-top: 20px;
        }
        h4 {
            margin: 30px 0;            
        }
        &-quote {
            div {
                float: left;
                width: 25px;
                height: 100%;
                font-size: 3.5rem;
                color: #25c0ec;
                margin-top: -8px;
            }

        }
        &-list {            
            margin: 0 0 20px 0px;
            li {
                list-style-type: none;                
                &:before {
                    font-size: 2rem;
                    color: #25c0ec; 
                    content: "•";
                    padding-right: 10px; 
                }
            }            
        }
        table {
            width: 100%;
            margin-bottom: 20px;
            text-align: right;
            th {
                text-transform: uppercase;
                text-align: right;
                &:first-child {
                    text-align: left;
                }            
            }
            tr {
                td {
                    &:first-child {
                        text-align: left;
                    }  
                }

            }
            td, th {
                border: none !important;
                padding-top: 15px !important;
                padding-bottom: 15px !important;
            }
        }
    }
    &-image {        
        &-left, &-right {            
            img {
                margin: 20px 40px 20px 0;
                width: auto;
                max-width: none;
                float: left;
            }
        }
        &-right {
            img {
                margin: 20px 0 20px 40px;
                float: right;
            }
        }
    }
}