.dr-task {
    &-name input,&-password input, &-select, &-budget input[type=text], &-date input {
        margin-top: 10px;
        width: 100%;
        padding: 10px 15px;
        border-radius: $borderRadius;
        background-color: transparent;
        color: darken(#b7b7b7, 30%);
    }
    &-password {
        input[type=checkbox] {
            float: left;
            display: block;
            margin-top: 4px;
            margin-right: 10px;
            width: inherit;
            padding: 10px;
        }
    }
    &-description textarea {
        margin-top: 10px;
        resize: none;
        border-radius: $borderRadius;
        padding: 15px;
    }
    &-date {
        input {
            width: 100%;
            padding: 7px 15px;
        }
    }
    &-budget {
        .slider {
            .slider-selection {
                background: #25c0ec;
            }
            .slider-handle {
                background-image: none;
                background-color: #49d3fb;
                border: 2px solid #25c0ec;
            }
        }
        .minValue, .maxValue {
            color: darken(#b7b7b7, 30%);
            float:left;
            margin-top: 10px;
            font-weight: normal;
        }
        .maxValue {
            float: right;
        }
        input[type=text] {
            margin-top: 0;
            color: black;
            font-size: 1.8rem;
            font-weight: bold;
        }

        .glyphicon {            
            font-weight: normal;            
        }        

    }
    input[type=text], input[type=password] {
        padding: 18px 15px;
    }
    &-photo {
        .btn {
            margin: 10px 0;
        }
        .photoInfo {
            color: darken(#b7b7b7, 30%);
        }
    }
    &-div {
        padding: 30px 20px;
        &-error {

            input, .select2-selection, textarea {
                border-color: $errorColor;
            }

            .error {
                float: right;
                color: $errorColor;
            }
        }
    }
    &-invisible {
        visibility: hidden;
    }
    text-align: left;
    .input-label {
        @extend .bold-text;
    }
}
.slider{
    margin-top: 10px;
    &-horizontal {
        width: 100% !important;
    }
    &-handle {
        background-color: #25c0ec;
    }
}
