.dr-task {
    &-name input, &-select, &-budget input[type=text], &-date input {
        margin-top: 10px;
        width: 100%;
        padding: 10px 15px;
        border-radius: $borderRadius;
        background-color: transparent;
        color: darken(#b7b7b7, 30%);
    }
    &-description textarea {
        margin-top: 10px;
        resize: none;
        border-radius: $borderRadius;
        padding: 15px;
    }
    &-date {
        input {
            width: 49%;
            padding: 6px 15px;
        }
    }
    &-budget {
        #ex1Slider {
            .slider-selection {
                background: #25c0ec;
            }
        }
        .minValue, .maxValue {
            color: darken(#b7b7b7, 30%);
            float:left;
            margin-top: 10px;
            font-weight: normal;
        }
        .maxValue {
            float: right;
        }
        input [type=text] {
            color: black;
            font-size: 1.8rem;
            font-weight: bold;
        }
        &-placeholder {
            z-index: 100;
            left: 15px;
            cursor: text;
            position: absolute;
            top: 15px;
            width: 100%;
            display: none;
            color: #333333;
            font-size: 1.8rem;
            font-weight: bold;
        }
        .glyphicon {
            top: 3px;
            font-weight: normal;
            color: lightgray;
        }

        &-placeinput > input:invalid + span.dr-task-budget-placeholder {
            display: inline;
        }
        &-placeinput {
            position: relative;
            overflow: hidden;
            margin-bottom: 0px;
            font-weight: normal;
        }
        &-placeholder span {
            float: right;
            margin-right: 30px;
            display: inline-block;
        }
    }
    &-photo {
        button {
            margin: 10px 0;
        }
        .photoInfo {
            color: darken(#b7b7b7, 30%);
        }
    }
    &-div {
        padding: 30px 20px;
    }
    &-invisible {
        visibility: hidden;
    }
    text-align: left;
    .input-label {
        font-weight: bold;
        font-size: 1.4rem;
    }
}
.slider{
    margin-top: 10px;
    &-horizontal {
        width: 100% !important;
    }
    &-handle {
        background-color: #25c0ec;
    }
}

span.select2-container {
    margin-top: 10px;
    width: 100% !important;    
    span.select2-selection {
        padding: 19px 10px;
        border-radius: $borderRadius !important;
        background-color: transparent;
        color: #6b6b6b;
        &__rendered {
            font-size: 1.2rem;
            font-weight: normal;
            margin-top: -13px;
            color: #6b6b6b !important;
        }
        &__arrow {
            //top: 6px !important;
            b {
                border-width: 6px 3px 0 !important;
                border-color: #695656 transparent transparent !important;
            }
        }
    }
}
