<% if resource.date_type.actual? %>
  <div class="dr-one-ticket-refinement dr-all-task">
    <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
    <p class="gray-text-light">Актуально<br/>до</p>
    <span class="bold-text-light"><%= resource.decorate.date_actual_date %></span>
  </div>
  <div class="dr-one-ticket-refinement dr-all-task">
    <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
    <p class="gray-text-light">Удобное<br/>время</p>
    <span class="bold-text-light"><%= resource.decorate.date_actual_time %></span>
  </div>
<% end %>
<% if resource.date_type.interval? %>
  <div class="dr-one-ticket-refinement dr-all-task">
    <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
    <p class="gray-text-light">Выполнить в период</p>
    <span><%= resource.decorate.date_interval_from_date %> – <%= resource.decorate.date_interval_to_date %></span>
  </div>
<% end %>
<% if resource.contract_type.contract? %>
  <div class="dr-one-ticket-refinement without-border">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    <p class="gray-text-light">Работа<br/>с</p>
    <span class="bold-text-light">договором</span>
  </div>
<% end %>
