<div class="dr-bottom-service">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/hammer.png" alt="">
        <span>Ремонт</span>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/broom.png" alt="">
        <span>Уборка</span>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/student.png" alt="">
        <span>Образование</span>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/cargo.png" alt="">
        <span>Грузоперевозки</span>
      </a>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/pomade.png" alt="">
        <span>Красота и здоровье</span>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/vape.png" alt="">
        <span>Вейпинг</span>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/cooking.png" alt="">
        <span>Кейтеринг и кулинария</span>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/sport.png" alt="">
        <span>Спорт и туризм</span>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/laptop.png" alt="">
        <span>Интернет-услуги</span>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/cleaner.png" alt="">
        <span>Домашний персонал</span>
      </a>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/photo.png" alt="">
        <span>Фото и видеосъемка</span>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/law.png" alt="">
        <span>Юридическая помощь</span>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/animal.png" alt="">
        <span>Уход за животными</span>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/cocktail.png" alt="">
        <span>Организация мероприятий</span>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/horse.png" alt="">
        <span>Тату, пирсинг и бодимодификации</span>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="#" class="dr-bottom-service-heading">
        <img class="img-responsive" src="/images/icons/fix.png" alt="">
        <span>Разное</span>
      </a>
    </div>
  </div>
</div>
