%section.rabotaet-1
  .cont
    .num
    .left
      %h4
        СОЗДАЙТЕ ЗАЯВКУ
      .line
      .description
        Выберите подходящую категорию, опишите что Вам требуется, установите бюджет задания и даже время, в течение которого, объявление будет отображаться на сайте.
    .right
      = image_tag "rabotaet-1.png"
    .clear

%section.rabotaet-2
  .cont
    .num
    .left
      = image_tag "rabotaet-2.png"
    .right
      %h4
        ИЗУЧИТЕ ОТВЕТЫ
      .line
      .description
        После создания заявки, мастерам, подписанным на данную категорию заявок, придет оповещение и, заинтересованные в заказе, Вам ответят - расскажут о своих преимуществах и предложат цену. Мастера не видят Ваши контакты, они смогут ответить на странице заявки. 
    .clear

%section.rabotaet-3
  .cont
    .num
    .left
      %h4
        СДЕЛАЙТЕ СВОЙ ВЫБОР
      .line
      .description
        Не отталкивайтесь только от самой низкой цены. Изучите отзывы каждого мастера, его опыт. Все оценки на сайте настоящие, их пишут реальные заказчики, такие же как и Вы, после выполнения очередного задания. 
    .right
      = image_tag "rabotaet-3.png"
    .clear

%section.garant
  .cont
    %h3 Гарантии и Безопасность
    .description
      %p Учтите, что Бюро Мастеров это сервис поиска мастеров, мы не несем никакой ответственности за действия мастера - Ваша безопасность в ваших руках.
      %p Мы строго следим за порядком внутри нашего сервиса - рекомендуем выбирать мастеров с отметкой  «Данные проверены». Это означает, что  персональные данные исполнителя проверены(паспорт, образование). 
      %p Ответственность за результат лежит на специалисте, которого вы выберете сами. Все передачи денежных средств фиксируйте чеком или распиской, а перед началом работ, советуем, составить договор. 
      %p Узнайте о гарантиях, не стесняйтесь расспрашивать специалиста о его предыдущих работах и о том как он будет выполнять Ваше задание. 

    .clear

    