%section.bread
  .cont
    .left
      %a{:href => "/"} Главная
      %span >
      %a{:href => "/questions"} Частые вопросы
      .clear
    .clear

%section.task.task-list.article
  .cont
    %h1 Частые вопросы
    .description
      %ul{:class => "question-ul"}
        %li
          %a{:href => ""} Сколько предложений я получу?
        %li
          %a{:href => ""} Обязательно выбирать исполнителя?
        %li
          %a{:href => ""} Зачем мне указывать примерный бюджет
        %li
          %a{:href => ""} Обязательно выбирать исполнителя?
