%section.status
  .cont
    %h3 КАК РАБОТАТЬ В БЮРО МАСТЕРОВ?
%section.status-1
  .cont
    .num
    .left
      %h4
        Вы получаете оповещение о
        %b новой заявке
      .line
      .description
        Вы настраиваете категории по которым хотите получать заказы. При появлении заявки  Вам приходит оповещение в Личный кабинет и на e-mail. 
        Выберите подходящую категорию, опишите что Вам требуется, установите бюджет задания и даже время, в течение которого, объявление будет отображаться на сайте.
    .right
      = image_tag "status-1.png"
    .clear

%section.status-2
  .cont
    .num
    .left
      = image_tag "status-2.png"
    .right
      %h4
        Вы решаете кому предложить
        %b свои услуги
      .line
      .description
        Напишите свое предложение на странице выбранной заявки и заказчик увидит Ваш ответ. На этой же странице Вы видите предложения других мастеров. Если Вас выберут, вся плата остается Вам - мы бесплатный сервис.
    .clear

%section.status-3
  .cont
    .num
    .left
      %h4
        Приступайте к работе СДЕЛАЙТЕ
        %b СВОЙ ВЫБОР
      .line
      .description
        Опишите все свои преимущества, докажите, что Вы достойный исполнитель . 
        После выполнения заказа попросите оставить о Вас отзыв - чем больше отзывов и выше рейтинг, тем легче будет получать новые заказы. 
    .right
      = image_tag "status-3.png"
    .clear

%section.status-4
  .cont
    .num
    .left
      = image_tag "status-4.png"
    .right
      %h4
        Свой маленький
        %b бизнес
      .line
      .description
        Многие мастера увеличил свою месячную прибыль в 2-3 раза вместе с нашим сервисом, мы даем возможность иметь столько заказов, сколько вы сами пожелаете. 
    .clear

    