<div class="dr-container">
<div class="dr-news-header">
  <h2>Все <span class="dr-news-header-unmarked">новости<span></h2>
</div>
<div class="row dr-news row-eq-height dr-news-first">
  <div class="col-xs-4 col-sm-4 dr-news-image">
    <img src="/images/news/news_1.png" class="img-responsive" alt="">
  </div>
  <div class="col-xs-8 col-sm-8 dr-news-content">
    <span class="dr-news-content-date">06.02.2017</span>
    <h3>Как зарабатывать на дизайне интерьера</h3>
    <p>Пользователи, которые подозревают, что перед ними - фейк, щелкают в одну из областей соответствующего поста,
      отмечая, что информация кажется им ложной. После этого новость рассмотрят эксперты специальных сайтов и компаний,
      занимающихся проверками фактов. Если информация вызывает сомнения, то при репосте под таким сообщением в соцсети
      будет индикатор сомнительности. Пользователи, которые подозревают, что перед ними - фейк, щелкают в одну из областей соответствующего поста,
      отмечая, что информация кажется им ложной. После этого новость рассмотрят эксперты специальных сайтов и компаний,
      занимающихся проверками фактов.
    </p>
    <a class="dr-news-content-show-all">Показать все</a>
    <p class="dr-news-content-tags">
      Теги: <a>задание</a>, <a>новости</a>, <a>помощь</a> <a class="dr-news-content-tags-read-more">Читать полностью</a>
    </p>
  </div>
</div>
<div class="row dr-news row-eq-height">
  <div class="col-xs-4 col-sm-4 dr-news-image">
    <img src="/images/news/news_2.png" class="img-responsive" alt="">
  </div>
  <div class="col-xs-8 col-sm-8 dr-news-content">
    <span class="dr-news-content-date">06.02.2017</span>
    <h3>Как превратить увлечение архитектурой в профессию</h3>
    <p>Пользователи, которые подозревают, что перед ними - фейк, щелкают в одну из областей соответствующего поста,
      отмечая, что информация кажется им ложной. После этого новость рассмотрят эксперты специальных сайтов и компаний,
      занимающихся проверками фактов. Если информация вызывает сомнения, то при репосте под таким сообщением в соцсети
      будет индикатор сомнительности. Пользователи, которые подозревают, что перед ними - фейк, щелкают в одну из областей соответствующего поста,
      отмечая, что информация кажется им ложной. После этого новость рассмотрят эксперты специальных сайтов и компаний,
      занимающихся проверками фактов.
    </p>
    <a class="dr-news-content-show-all">Показать все</a>
    <p class="dr-news-content-tags">
      Теги: <a>задание</a>, <a>новости</a>, <a>помощь</a> <a class="dr-news-content-tags-read-more">Читать полностью</a>
    </p>
  </div>
</div>
<div class="row dr-news row-eq-height">
  <div class="col-xs-4 col-sm-4 dr-news-image">
    <img src="/images/news/news_3.png" class="img-responsive" alt="">
  </div>
  <div class="col-xs-8 col-sm-8 dr-news-content">
    <span class="dr-news-content-date">06.02.2017</span>
    <h3>Как бывший пилот стал зарабатывать на ремонте</h3>
    <p>Пользователи, которые подозревают, что перед ними - фейк, щелкают в одну из областей соответствующего поста,
      отмечая, что информация кажется им ложной. После этого новость рассмотрят эксперты специальных сайтов и компаний,
      занимающихся проверками фактов. Если информация вызывает сомнения, то при репосте под таким сообщением в соцсети
      будет индикатор сомнительности. Пользователи, которые подозревают, что перед ними - фейк, щелкают в одну из областей соответствующего поста,
      отмечая, что информация кажется им ложной. После этого новость рассмотрят эксперты специальных сайтов и компаний,
      занимающихся проверками фактов.
    </p>
    <a class="dr-news-content-show-all">Показать все</a>
    <p class="dr-news-content-tags">
      Теги: <a>задание</a>, <a>новости</a>, <a>помощь</a> <a class="dr-news-content-tags-read-more">Читать полностью</a>
    </p>
  </div>
</div>
<div class="row dr-news row-eq-height">
  <div class="col-xs-4 col-sm-4 dr-news-image">
    <img src="/images/news/news_4.png" class="img-responsive" alt="">
  </div>
  <div class="col-xs-8 col-sm-8 dr-news-content">
    <span class="dr-news-content-date">06.02.2017</span>
    <h3>Как делать сделать быструю курьерскую службу</h3>
    <p>Пользователи, которые подозревают, что перед ними - фейк, щелкают в одну из областей соответствующего поста,
      отмечая, что информация кажется им ложной. После этого новость рассмотрят эксперты специальных сайтов и компаний,
      занимающихся проверками фактов. Если информация вызывает сомнения, то при репосте под таким сообщением в соцсети
      будет индикатор сомнительности. Пользователи, которые подозревают, что перед ними - фейк, щелкают в одну из областей соответствующего поста,
      отмечая, что информация кажется им ложной. После этого новость рассмотрят эксперты специальных сайтов и компаний,
      занимающихся проверками фактов.
    </p>
    <a class="dr-news-content-show-all">Показать все</a>
    <p class="dr-news-content-tags">
      Теги: <a>задание</a>, <a>новости</a>, <a>помощь</a> <a class="dr-news-content-tags-read-more">Читать полностью</a>
     </p>
   </div>
 </div>
 <button type="button" class="btn dr-news-load-more">Показать еще</button>
</div>
