@import "admin/mixins";
@import "admin/header";
@import "admin/breadcrumbs";
@import "admin/main";
@import "admin/table_tools";
@import "admin/tables";
@import "admin/filters";
@import "admin/datepicker";
@import "admin/forms";
@import "admin/fullscreen";

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#site_title_image {
	width: 136px;
	margin-top: 10px;
  margin-right: 10px;
}

#utility_nav {
  width: 200px;
  text-align: right;
}

#footer {
	display: none;
}

.action_item {
  a {
  margin-top: 5px;
    display: table;
  	color: #fff;
  	background: #ea4b35;
  	padding: 2px;
  	background-image: none;
  	text-transform: uppercase;
  	font-size: 12px;
  	border-radius: 20px;
  	text-decoration: none;
    padding: 10px 15px 8px;
  }
}

h3 {
  @include clearfix;
}

h3 .action_item a {
  float: right;
  background-color: #339ff5;
  padding: 4px 15px;
  margin-left: 5px;
  font-size: 11px;
}

form.contract_template {
  li {
    float: left;
    width: 50%;
    display: block;
    position: relative;

    input[type="text"] {
      display: block;
      width: 95%;
      padding: 5px;
      font-size: 16px;
      box-sizing: border-box;
    }

    .select2-container {
      width: 100% !important;
    }
  }

  fieldset {
    margin-bottom: 10px;
  }

  .error { color: red }
}

#help_answer_synonyms {
  height: 50px;
}
