#title_bar {
  display: table;
  position: relative;
  z-index: 800;
	width: 1053px;
	margin: 0 auto;
  background: #fafafa;

  #titlebar_left, #titlebar_right {
    font-size: 12px;
    padding: 10px;
    vertical-align: middle;
    display: table-cell;
  }

  #titlebar_right {
    text-align: right;
  }

  h2 {
  	font-size: 12px;
  	margin: 0;
    padding: 0;
  	display: inline;
  	line-height: 29px;
  	font-weight: normal;
  }

  .action_items {
    span.action_item {
      & > a, & > .dropdown_menu > a {
        margin-right: 10px;
        float: right;
      }
    }
  }
}

.breadcrumb {
  font-weight: normal;
  line-height: 1.0em;
  margin-bottom: 12px;

  a, a:link, a:visited, a:active {
    text-decoration: none;
  }

  a:hover { text-decoration: underline; }

  .breadcrumb_sep {
    margin: 0 2px;
  }
}