#ui-datepicker-div {
  background-color: #eee;
  border-radius: 30px;
  padding: 18px;
}

.ui-datepicker-prev {
  float: left;
  cursor: pointer;
  padding-bottom: 5px;
}

.ui-datepicker-next {
  float: right;
  cursor: pointer;
  padding-bottom: 5px;
}

.ui-datepicker-title {
  margin-bottom: 5px;
  text-align: center;
}