$sidebar-inner-content-width: 300;
$text-input-horizontal-padding: 10;

.sidebar_section {

  label {
    display: block;
    font-size: 14px;
  }

  select {
    width: $sidebar-inner-content-width;
  }

  input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], textarea {
    width: 80%;
    border-radius: 3px;
    font-size: 15px;
    border: 1px solid #aaa;
    padding: 4px 7px;
  }
  
  .filter_string input[type=text] {

  }
  
  form div {
    margin-top: 10px;
  }
  
  .select_and_search {
    select {
      width: 80%;
    }
  }
  
  .filter_date_range {
    input {
      width: 35%;
    }
  }
  
  h3 {
      text-transform: none;
      margin: 24px 0 12px 20px;
      font-size: 14px;
      font-weight: normal;
  }

  h3:before {
      content: "";
      position: absolute;
      width: 15px;
      height: 12px;
      background: url(news.png) no-repeat;
      background-size: cover;
      margin: 1px 0 0 -20px
  }
  
  .buttons {

  }
  
  .buttons input {
      font-size: 12px;
      background-color: #ea4b35;
      color: #fff;
      display: inline-block;
      text-decoration: none;
      border: none;
      text-align: center;
      text-transform: uppercase;
      border-radius: 100px;
      padding: 10px 21px;
  	  background-color: #339ff5;
  }
  
  .filter_select {
    select {
      width: 100%;
    }
  }

  .clear_filters_btn {
    margin-left: 30px;
    color: #999;
    font-size: 12px;
  }

  .attributes_table {
    font-size: 12px;
    
    th {
      text-align: left;
      padding: 2px;
    }
    
    td {
      text-align: left;
      padding: 2px;
    }
  }
}