form {
  ul, ol, li, fieldset, legend, input, textarea, select, p { margin:0; padding:0; }
  ol, ul { list-style: none }

  fieldset {
    border: 0;
    padding: 10px 0;
    margin-bottom: 20px;

    &.inputs { }
  }
}
