table tr {
  td {
    vertical-align: top;
  }
}

// --------- Index Tables

table.index_table {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 10px;
  border: 0;
  border-spacing: 0;
  
  &.search_table {
    th:first-child {
      padding-left: 20px;
    }
  }

  th {
    text-align: left;
    background: #eee;
    padding-top: 3px;
    padding-left: 3px;
    height: 30px;
    
    &:first-child {
      border-radius: 30px 0 0 0;
    }
    
    &.col-selectable {
      width: 30px;
      padding-left: 20px;
    }
    
    &:last-child {
      border-radius: 0 30px 0 0;
    }

    a, a:link, a:visited {
      font-weight: normal;
      text-decoration: none;
      display: block;
      white-space: nowrap;
    }

    &.sortable a {
      background: image-url('active_admin/orderable.png') no-repeat 0 4px; padding-left: 13px;
    }

    &.sorted-asc a { background-position: 0 -27px; }
    &.sorted-desc a {  background-position: 0 -56px;}
  }
  
  tr {
    .col-selectable {
      padding-left: 20px;
    }
  }

  td {
    padding: 10px 8px;
    border-bottom: 1px solid #e8e8e8;
    vertical-align: top;
    
    &.col-created_at {
      width: 150px;
      font-size: 12px;
      color: #666;
    }
  }
}

#index_footer {

  .pagination {
    background: #eee;
    height: 30px;
    padding-left: 15px;
    padding-top: 8px;
    border-radius: 0 0 30px 30px;
    margin-bottom: 10px;
  }
  
  .pagination_information {
    float: left;
    color: #666;
    text-transform: lowercase;
  }
  
  .download_links {
    float: right;
    
    a {
      border-radius: 15px;
      padding: 5px 10px;
      text-decoration: none;
      background: #eee;
    }
  }
}
