.table_tools {
  @include clearfix;
  display: table;
  width: 100%;
  margin-top: 10px;
}

.table_tools .dropdown_menu {
  float: left;
}

a.table_tools_button, .table_tools .dropdown_menu_button {
  background-color: #339ff5;
  color: #fff;
  font-size: 12px;
  padding: 4px 14px 4px;
  margin: 0;
  text-decoration: none;
  border-radius: 12px;

  &:not(.disabled) {
    &:hover {
      background: #ea4b35;
    }

    &:active {
      background: #ea4b35;
    }
  }
}

.table_tools_segmented_control {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    float: left;

    a {
      border-width: 1px .5px 1px .5px;
      border-radius: 0;
    }

    &:first-child a {
      border-left-width: 1px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }

    &:last-child a {
      border-right-width: 1px;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    &.selected a {
      background: #ea4b35;
      cursor: default;

      &:hover {
      
      }
    }

  }
}
