html {
  font-size: 110%;
}

#header {
  background-color: white;
  box-shadow: 3px 4px 3px 0px rgba(0, 0, 0, 0.12);
  border-color: #e7e7e7;
  border-width: 0 0 1px;
  padding: 14px 0px;
  margin-bottom: 5px;
  text-transform: uppercase
}

#active_admin_content {
  @include clearfix;
  background-color: white;
  box-shadow: 3px 4px 3px 0px rgba(0, 0, 0, 0.12);
  border-color: #e7e7e7;
  border-width: 0 0 1px;
  margin-bottom: 5px;
}

#title_bar {
  background-color: white;
  border-bottom: 1px solid #e7e7e7;

  .breadcrumb {
    font-size: 2.6em;
    text-transform: none;
    display: inline;
  }

  h2 {
    display: inline;
  }
}

#footer {
  display: none;
}

#main_content {
  font-size: 120%;

  .col-actions {
    width: 200px;
  }
}
