login: &login
  adapter: postgresql
  encoding: unicode
  username: dr
  password:
  pool: 5
  host: localhost

development:
  <<: *login
  database: dr_dev

production:
  <<: *login
  database: dr_prod

test: &test
  <<: *login
  database: dr_test
