login: &login
  adapter: mysql2
  encoding: utf8
  reconnect: false
  username: root
  password:
  pool: 5
  socket: /tmp/mysql.sock
  # For Linux:
  # socket: /var/run/mysqld/mysqld.sock

development:
  <<: *login
  database: delorub_development

production:
  <<: *login
  database: delorub_production

test: &test
  <<: *login
  database: delorub_test
