<div class="row row-eq-height dr-masters-tickets-ticket-request">
  <%= render 'shared/user/info', user: resource.user %>
  <div class="col-md-10 dr-one-ticket-ticket-content gray-text">
    <p><%= simple_format resource.content %></p>
  </div>
</div>
