%section.bread
  .cont
    .left
      %a{:href => "/"} Главная
      %span >
      %a{:href => "/"} 500
      .clear
    .clear

%section.task.task-list.article
  .cont
    .description
      Ошибка сервера