%section.bread
  .cont
    .left
      %a{:href => "/"} Главная
      %span >
      %a{:href => "/"} 404
      .clear
    .clear

%section.task.task-list.article
  .cont
    .description
      Страница не найдена, либо удалена