.dr-404 {
  background-color: #00a6d7;
  .index-image {
    background-image: url("/images/design/404.svg");
    background-size: 600px;
    .container {
      &:first-child {
        top: 65%;
      }
    }
    &__header {
      color: #fff;
      font-size: 36px;
      text-align: center;
      text-transform: none;
      font-weight: 800;
    }
    &-content {
      text-align: center;
      margin-top: 20px;
      a+a {
        margin-left: 30px;
      }
    }
    @media (max-width: 575px) {
      height: 110vh;
    }
  }
  @media (max-width: 448px) {
    .index-image {
      background-size: 450px;
      .container {
        &:first-child {
          top: 55%;
        }
      }
      &-content {
        a {
          display: block;
          margin: 10px auto !important;
        }
      }
    }
  }
  @media (min-width: 1600px) {
    .index-image {
      height: 100%;
    }
    .index-image .container:first-child {
      margin-top: 210px;
    }
  }
}
