.dr-content-header {
  @extend .dr-block-style;
  margin: 10px 0;
  &__text {
    font-family: $GothamBold;
    font-size: 1.5rem;
    font-weight: bold;
    &-margin-bottom-none {
      margin-bottom: 0;
    } 
  }
  &__link {        
    @extend .link-header;
  }
}
