.checkbox {
  label {
    margin-bottom: 0;
  }
  &-custom {
    transition: 0.1s;
    position: relative;
    padding: 10px;
    margin-right: 5px;
    background: url("/images/checkbox/primary.svg") 0px center no-repeat;
    &:hover {
      background: url("/images/checkbox/primary_hover.svg") 0px center no-repeat;
    }
  }
  input[type=checkbox] {
    display: none;
    &:checked + .checkbox-custom {
      background: url("/images/checkbox/primary_clicked.svg") 0px center no-repeat;
    }
  }
  &-danger {
    .checkbox-custom {
      background: url("/images/checkbox/danger.svg") 0px center no-repeat;
    }
    input[type=checkbox] {
      &:checked + .checkbox-custom {
        background: url("/images/checkbox/danger_clicked.svg") 0px center no-repeat;
      }
    }
  }
}
