.dr-block-style {
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(121, 120, 120, 0.5);
  padding: 28px 40px;
  margin: 2px 0 0;
  &--card {
    margin-top: 6px;
    padding: 30px;
    transition: .3s;
    &:hover {
      box-shadow: 0 4px 15px 0 rgba(150, 149, 149, 0.5);
    }
  }
  &--single-card {
    padding: 30px;
    transition: .3s;
    &:hover {
      box-shadow: 0 4px 15px 0 rgba(150, 149, 149, 0.5);
    }
  }
  &--no-padding, &--category {
    padding: 0;
  }
  &--table {
    padding: 0 0 2px 0;
  }
  &--task-card {
    margin-top: 6px;
    padding: 30px 30px 15px;
    transition: .3s;
    &:hover {
      box-shadow: 0 4px 15px 0 rgba(150, 149, 149, 0.5);
    }
  }
  &--profile-card {
    margin-top: 6px;
    padding: 25px 0;
    &:hover {
      box-shadow: 0 4px 15px 0 rgba(150, 149, 149, 0.5);
    }
  }
  &--profile {
    padding: 40px 40px;
    &-left {
      margin-bottom: 6px;
      padding: 40px 40px;
    }
  }
  &--sort-padding {
    padding: 22px 40px;
    p {
      margin-bottom: 0;
    }
  }
  &--left-menu-card {
    margin-bottom: 6px;
    padding: 25px 20px 25px 40px;
  }
  &--card-category {
    padding: 0;
    margin-bottom: 1rem;
    @media (min-width: 992px) {
      height: 100%;
      margin-bottom: 0;
    }
  }
  &--task-person {
    padding: 0;
    margin-bottom: 6px;
  }
  &--price {
    padding: 25px 40px;
    margin-bottom: 6px;
  }
  &--sign-in {
    padding: 36px 50px;
  }
  &--registration {
    padding: 16px 0;
  }
  &--feedline {
    padding: 40px 30px 30px 40px;
  }
  &--margin-top{
    margin-top: 6px;
  }
  >div {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
