.dr-btn-default {  
  color: #9b9b9b;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(174, 173, 173, 0.5);
  transition: 0.1s;
  border: 0;
  border-radius: 4px;
  min-width: 170px;
  text-align: center;
  padding: 12px 10px 10px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  &:hover {
    color: #fff !important;
    background-color: #70bee9;
    box-shadow: 0 1px 4px 0 rgba(174, 173, 173, 0.5), 0 1px 2px 0 rgba(102, 102, 102, 0.5);
    cursor: pointer;
  }
  &:active {
    background-color: $blueColor;
    color: #fff;
    box-shadow: 0 3px 4px 0 rgba(174, 173, 173, 0.5);
  }
  &:focus {
    color: #fff;
  }
  &:visited {
    color: #9b9b9b;
  }
  &-margin-top-2 {
    margin-top: 2px;
  }
}

.dr-btn-primary {
  @extend .dr-btn-default;  
  color: #fff;  
  background-color: $blueColor;  
  &:hover {
    background-color: #70bee9;
    color: #fff;
    box-shadow: 0 1px 4px 0 rgba(174, 173, 173, 0.5), 0 4px 6px 0 rgba(115, 110, 110, 0.5);
  }
  &:active {
    background-color: #3a84ae;
    box-shadow: 0 1px 4px 0 rgba(174, 173, 173, 0.5);
  }
  &:visited {
    color: #fff;
  }  
}

.dr-btn-danger {
  @extend .dr-btn-default;
  color: #fff;
  background-color: #f44336;
  &:hover {
    color: #fff;
    background-color: #f44336;
    box-shadow: 0 1px 4px 0 rgba(174, 173, 173, 0.5), 0 4px 6px 0 rgba(115, 110, 110, 0.5);
  }
  &:active {
    background-color: #cf3025;
    color: #fff;
    box-shadow: 0 1px 4px 0 rgba(174, 173, 173, 0.5), 0 2px 4px 0 rgba(174, 173, 173, 0.5);
  }
  &:focus {
    color: #fff;
  }
  &:visited {
    color: #fff;
  }
}

.dr-btn-big {
  padding: 18px 10px 17px 10px;
  min-width: 190px;
}

.dr-btn-long {  
  width: 100%;

.dr-btn-220 {
  min-width: 220px;
}
