.pagination {
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 60px;
  span {
    margin: 0 3px;
    a {
      background-color: white;
      border: 1px solid #ddd;
      transition: 0.3s;
      color: #9b9b9b;
      box-shadow: 0 1px 4px 0 rgba(174, 173, 173, 0.5);
      border-radius: 4px;
      line-height: 1.25;
      min-width: 40px;
      min-height: 40px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 9px;
      &:hover {
        background-color: #fcf1f1;
      }
      &:active {
        background-color: #e9e0e0;
      }
    }
    &:first-child {
      margin-right: 14px;
      min-width: 95px;
    }
    &:last-child {
      margin-left: 14px;
      min-width: 95px;
    }
  }
  .current {
    a {
      color: #fff;
      background-color: #70bee9;
      &:hover {
        color: #9b9b9b;
        background-color: #e9e0e0;
      }
    }
  }
  .disabled {
    a {
      color: #dad5db;      
    }
  }
}
