.contact-form {
  &__error-message {    
    color: #f44336;
    font-weight: bold;
    margin-bottom: 1rem;    
  }
  &__approved {
    font-family: $GothamBold;
    color: #60ad11;
    margin-left: 20px;
  }
  &__phone {
    margin-bottom: 0.5rem;
    span + a {
      margin-left: 20px;
    }
    &-change {      
      margin: 2rem 0;
      &--hide {
        display: none;
      }
    }
    &-number {
      font-weight: bold;
    }    
  }
  &__repeat {
    margin-bottom: 1rem;
    padding-top: 5px;
  }
  &__bottom-inputs--hide {
    display: none;
  }
}
