.table-history {
  @media (max-width: 767px) {
    font-size: 12px;
  }
  @media (max-width: 525px) {
    font-size: 10px;
    display: block;
    overflow-x: auto;
  }
  th {
    @media (max-width: 525px) {
      font-size: 10px;
    }
    font-size: 12px;
    font-weight: 600;
  }
  td, th {
    border: none;
  }
  thead th {
    border-bottom: 1px solid #e6e3e3;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__date {
    @media (max-width: 525px) {
      font-size: 10px;
    }
    font-size: 12px;
    span {
      display: block;
      &:last-child {
        color: #9b9b9b;
      }
    }
  }
  &__processing {
    color: #9b9b9b;
  }
  &__successful {
    color: #60ad12;
  }
  &__error {
    color: #f44336;
  }
  tbody tr td:first-child, thead tr th:first-child {
    padding-left: 40px;
  }
  tbody tr td:last-child, thead tr th:last-child {
    padding-right: 40px;
    @media (max-width: 525px) {
      padding-right: 10px;
    }
  }
  tbody tr td:nth-of-type(4) {
    font-weight: 600;
  }
  tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
}

.table-buy {
  @media (max-width: 767px) {
    font-size: 12px;
    display: block;
    overflow-x: auto;
  }
  @media (max-width: 525px) {
    font-size: 10px;
  }
  th {
    @media (max-width: 525px) {
      font-size: 10px;
    }
    font-size: 12px;
    font-weight: 600;
  }
  td, th {
    border: none;
    padding-top: 24px;
    padding-bottom: 0;
  }
  thead th {
    border-bottom: 1px solid #e6e3e3;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  td[colspan='2'] {
    padding-left: 40px;
  }
  tr.checked {
    background-color: #e8f3ff;
    td:nth-of-type(2) div {
      background-color: #f6a623;
    }
  }
  tbody tr td:nth-of-type(2) {
    div {
      font-weight: 600;
      width: 64px;
      height: 27px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -4px;
      border-radius: 3px;
      background-color: #8cc1ff;
      color: #fff;
    }
  }
  thead tr th:nth-of-type(2) {
    div {
      margin-left: 50px;
    }
  }
  thead tr th:nth-of-type(3) {
    div {
      margin-top: -36px;
    }
  }
  tbody tr:first-child {
    td {
      padding-top: 30px;
    }
  }
  tbody tr:nth-of-type(4) {
    box-shadow: 0 -5px 13px -5px rgba(79, 76, 76, 0.5);
  }
  tbody tr:nth-of-type(6) {
    box-shadow: 0 5px 13px -5px rgba(79, 76, 76, 0.5);
  }
  .dr-radio {
    label {
      padding-left: 55px;
    }
  }
}
