.dr-category {
  box-shadow: 0 2px 7px 0 rgba(121, 120, 120, 0.5);
  background-color: #ffffff;
  border-radius: 3px;
  height: 100%;
  text-align: center;
  &:hover {
    box-shadow: 0 4px 15px 0 rgba(150, 149, 149, 0.5);
  }
  &__header {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 2rem 1rem;
    background-repeat: no-repeat;
    background-position: right top;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    padding: 1rem 0;    
    a {
      display: block;
      color: #4a4a4a;
      &:hover {
        color: $blueColor;
      }
    }
  }
  &--courier {
    .dr-category__header {      
      background-image: url("/images/category/courier.png");
      background-color: $blueColor;
    }    
  }
  &--repair {
    .dr-category__header {      
      background-image: url("/images/category/repair.png");
      background-color: $greenColor;
    }    
  }
  &--cleaning {
    .dr-category__header {      
      background-image: url("/images/category/cleaning.png");
      background-color: $grayColor;
    }    
  }
}
