.link-default {
  line-height: 1.5;
  color: #519dc7;
  border-bottom: 1px dashed;
  transition: 0.3s;
  &:visited {
    color: #519dc7;
  }
  &:hover {
    color: #f44336 !important;
  }
  &:active {
    color: #cf3125 !important;
  }
  &-white {
    @extend .link-default;
    color: #fff;
    &:visited {
      color: #fff;
    }
  }
  &-thin {
    font-weight: normal;
  }
  &-font-15 {
    font-size: 15px;
  }
}

.link-header {
  @extend .link-default;
}

.link-white {
  transition: 0.3s;
  color: #fff;
  font-size: 14px;
  &:hover {
    color: #70bee9 !important;
  }
  &:active {
    color: #fff;
  }
  &:visited {
    color: #fff;
  }
  &-bold {
    font-weight: bold;
    font-size: 18px;
  }
  &-dashed {
    font-weight: bold;
    border-bottom: dashed 1px #ffffff;
  }
}

.link-black {
  color: $color;
  transition: 0.3s;
  &:hover {
    color: $blueColor;
  }
}

.link-secondary {
  color: $blueColor;
  transition: 0.3s;
  &:hover {
    color: #2a6585;
  }
}

.link-error {
  font-weight: 600;
  color: #f44336;
  font-size: 20px;
  transition: .3s;
  &:hover {
    color: #2a6585;
  }
}

.link-bold {
  font-weight: bold;
}

.breadcrumb {
  padding: 0;
  overflow: hidden;
  transition: 0.3s;
  margin-bottom: 0;
  background-color: inherit;
  margin-bottom: 20px;
  &-item {
    @extend .link-secondary;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: $color;
}
