.dr-footer {
  .container {
    .row {
      flex-direction: column;
      @media (min-width: 768px) {
        justify-content: space-between;
        flex-direction: row;
      }
    }
  }
  background-color: #335e79;
  box-shadow: 0 2px 7px 0 rgba(121, 120, 120, 0.5);
  &-left {
    display: flex;
    padding: 2.5rem 0;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  &-right {
    display: flex;
    padding-bottom: 2.5rem;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    @media (min-width: 448px) {
      padding-top: 2.5rem;
    }
    li + li {
      margin-top: 5px;
    }
  }
  &-block {
    margin: 0 15px;
    @media (max-width: 991px) {
      text-align: center;
      margin: 15px;
    }
  }
  &-sub {
    background-color: #fbf8f8;
    &-right {
      @media (max-width: 991px) {
        text-align: center;
        margin-top: 30px;
      }
      h2 {
        text-align: center;
        @media (min-width: 992px) {
          text-align: right;
        }
        margin-bottom: 16px;
      }
    }
    &__content {
      @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
      }
      padding-top: 33px;
      padding-bottom: 33px;
    }
    &__copyright {
      color: #9b9b9b;
      font-size: 0.8rem;
      margin-top: 18px;
      text-align: center;
      @media (min-width: 992px) {
        text-align: right;
      }
    }
    &__social {
      display: flex;
      @media (min-width: 992px) {
        justify-content: flex-end;
      }
      justify-content: center;
      img {
        width: 34px;
        height: 34px;
        margin: 0 9px;
      }
      &-last {
        @media (min-width: 992px) {
          img {
            margin-right: 0;
          }
        }
      }
    }
  }
}
