.link-default {
  color: #70bee9;
  font-weight: bold;
  border-bottom: 1px dashed;
  transition: 0.3s;
  &:visited {
    color: #70bee9;
  }
  &:hover {
    color: #f44336 !important;
  }
  &:active {
    color: #cf3125 !important;
  }
  &-white {
    @extend .link-default;
    color: #fff;
    &:visited {
      color: #fff;
    }
  }
}

.link-header {
  @extend .link-default;  
}

.link-white {
  transition: 0.3s;
  color: #d1d1d1;
  font-size: 0.8rem;  
  &:hover {    
    color: #70bee9 !important;
  }
  &:active {
    color: #d1d1d1;
  }
  &:visited {
    color: #d1d1d1;
  }
  &-bold {
    transition: 0.3s;
    font-weight: bold;
    color: #ffffff;    
    font-size: 1.1rem;
    &:hover {      
      color: #70bee9 !important;
    }
    &:active {
      color: #ffffff;
    }
    &:visited {
      color: #ffffff;
    }
  }
}

.breadcrumb {
  transition: 0.3s;
  margin-bottom: 0;
  background-color: inherit;
  &-item {
    color: $blueColor;
    &:hover {
      color: #2a6585;
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #4a4a4a;
}
