.form-group__upload {
  color: #9b9b9b;
  text-align: center;
  padding: 20px;
  display: block;
  font-size: 0.8rem;
  border: 2px dashed;
  i {
    display: none;
    font-size: 1.2rem;
  }
  &:hover {
    border: dashed 2px $blueColor;
    span {
      display: none;
    }
    i {
      display: block;
    }
  }
  &:active {
    background-color: #fcf6f6;
    border: dashed 2px $blueColor;
    span {
      display: none;
    }
    i {
      display: block;
    }
  }
}
