.progress {
  border-radius: 50px;
  background-color: #d8d8d8;
  position: absolute;
  width: 70%;
  bottom: 15%;
  margin: 0 15%;
}

.progress-bar {
  height: 19px;
  border-radius: 50px;
  background-color: #4a4a4a;
}
