.dr-email-block {
  max-width: 550px;
  margin: 20px auto;
}

.dr-email {
  &-container {
    padding: 40px;
    h3 {
      font-family: $GothamLight;
    }
  }
  &-index {
    max-width: 550px;
    height: 239px;
    background-image: url('/images/design/email_background.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      h1, h3 {
        color: #fff;
        text-align: center;
      }
      h1 {
        text-transform: uppercase;
      }
    }
  }
  &-sub {
    p {
      font-size: 15px;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 40px;
    }
    &__block {
      padding: 13px 30px;
      border: solid 2px #e1dfdf;
      max-width: 250px;
      margin-bottom: 1rem;
      border-radius: 3px;
    }
  }
  &-payment {
    display: flex;
    align-items: center;
    padding: 0 40px;
    span {
      font-size: 15px;
      font-family: $GothamMedium;
    }
    i {
      font-size: 50px;
      margin-right: 30px;
    }
    &__success {
      color: #60ad12;
    }
  }
}