.dr-authorized-user {
  position: relative;
  display: flex;
  margin-left: 2rem;
  @media (max-width: 991px) {
    position: absolute;
    top: 0;
    right: 10px;
  }
  &__name {
    @media (max-width: 991px) {
      display: none;
    }
    text-align: right;
    margin-top: 5px;
    span {
      color: $color;
    }
    a {
      cursor: pointer;
    }
  }
  &__image {
    margin-left: 1rem;
    img {
      @media (max-width: 991px) {
        width: 31px;
        margin-top: 5px;
      }
      width: 54px;
      display: block;
      height: auto;
      border-radius: 50%;
    }
    a {
      cursor: pointer;
    }
  }
  &__dropdown {
    width: 167px;
    display: none;
    background-color: #fff;
    border: solid 1px #d1d1d1;
    position: absolute;
    top: 62px;
    right: 0;
    ul {
      text-align: right;
      li {
        padding: 10px 35px 10px 0;
        border-bottom: solid 1px #f3f0f0;
        a {
          @extend .link-secondary;
        }
        &:last-child {
          border-bottom: 0;
          a {
            color: #f44336;
          }
        }
      }
    }
    @media (max-width: 991px) {
      top: 56px;
    }
  }
}
