@font-face {
  font-family: 'GothamProRegular';
  src: local('GothamProRegular'), 
    url("../fonts/GothamProRegular/GothamProRegular.eot") format('embedded-opentype');
  src: local('GothamProRegular'),    
    url("../fonts/GothamProRegular/GothamProRegular.woff") format('woff'), 
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format('truetype');
}
@font-face {
  font-family: 'GothamProBold';
  src: local('GothamProBold'), 
    url("../fonts/GothamProBold/GothamProBold.eot") format('embedded-opentype');
  src: local('GothamProBold'),    
    url("../fonts/GothamProBold/GothamProBold.woff") format('woff'), 
    url("../fonts/GothamProBold/GothamProBold.ttf") format('truetype');
}
@font-face {
  font-family: 'GothamProLight';
  src: local('GothamProLight'), 
    url("../fonts/GothamProLight/GothamProLight.eot") format('embedded-opentype');
  src: local('GothamProLight'),    
    url("../fonts/GothamProLight/GothamProLight.woff") format('woff'), 
    url("../fonts/GothamProLight/GothamProLight.ttf") format('truetype');
}
@font-face {
  font-family: 'GothamProBlack';
  src: local('GothamProBlack'), 
    url("../fonts/GothamProBlack/GothamProBlack.eot") format('embedded-opentype');
  src: local('GothamProBlack'),    
    url("../fonts/GothamProBlack/GothamProBlack.woff") format('woff'), 
    url("../fonts/GothamProBlack/GothamProBlack.ttf") format('truetype');
}