.top-line {
  &--index {
    .top-line__left {
      display: none;
    }
    .top-line__container {
      justify-content: flex-end;
    }
  }
}

.index-image {
  background-image: url("/images/design/coming_soon.jpg");
  height: 70vh;
  @media (min-width: 1600px) {
    height: 100%;
  }
  @media (max-width: 448px) {
    height: 140vh;
  }
  min-height: 536px;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 200px;
  .container {
    &:first-child {
      position: relative;
      top: 22%;
      @media (min-width: 1600px) {
        margin-top: 110px;
      }
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  &__header {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.6rem;
    font-family: $GothamBlack;
    line-height: 3.2rem;
    text-align: center;
  }
  &-content {
    .help-block {
      margin-top: 5px;
      color: white;
    }
    &__header, &__text {
      color: #fff;
      font-size: 2.2rem;
      margin-top: 1rem;
      font-family: $GothamBold;
      p {
        margin-bottom: 0;
      }
    }
    &__text {
      font-family: $GothamPro;
      font-size: 1.2rem;
      text-align: center;
      &--nomargin {
        margin-top: 0;
      }
      a {
        font-family: $GothamBold;
      }
    }
    &__input {
      height: 56px;
      display: flex;
      margin-top: 2rem;
      @media (max-width: 448px) {
        display: block;
      }
      .dr-btn-danger {
        margin-left: -5px;
        margin-top: 0;
        display: flex;
        font-size: 18px;
        font-family: $GothamMedium;
        justify-content: center;
        align-items: center;
        height: 100%;
        @media (max-width: 448px) {
          margin: 0;
        }
      }
      .form-control {
        color: $color;
        height: 100%;
        @include placeholder {
          color: #B2B2B2;
          font-family: $GothamLight;
        }
      }
    }
    &__sub {
      color: #fff;
      font-family: $GothamLight;
      margin-top: 1rem;
      text-align: center;
      @media (max-width: 448px) {
        margin-top: 100px;
      }
    }
  }
}

.index-block {
  background-color: #fff;
  text-align: center;
  padding: 50px 0;
  box-shadow: 0 1px 3px 0 rgba(121, 120, 120, 0.5);
  .dr-btn-danger {
    width: 360px;
    display: block;
    margin: 1.5rem auto 1rem;
  }
  &__header {
    font-family: $GothamBold;
    font-size: 36px;
  }
  &__footer {
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: $GothamMedium;
  }
}

.index-reference {
  padding: 110px 20% 110px 27%;
  color: #fff;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  &__text {
    span {
      font-family: $GothamMedium;
      font-size: 30px;
      line-height: 25px;
    }
    p {
      font-size: 15px;
      line-height: 18px;
      margin-top: 10px;
    }
  }
  &--first {
    background-image: url('/images/design/bottom_block_1.jpg');
    margin-top: 70px;
  }
  &--second {
    background-image: url('/images/design/bottom_block_2.jpg');
    margin-top: 20px;
  }
  &--third {
    background-image: url('/images/design/bottom_block_3.jpg');
    margin-top: 20px;
  }
}

.index-step {
  @media (min-width: 1200px) {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  margin-top: 70px;
  display: flex;
  line-height: 28px;
  box-shadow: 0 1px 3px 0 rgba(121, 120, 120, 0.5);
  &__text {
    padding: 40px 60px 30px 60px;
    text-align: left;
    a {
      font-family: $GothamMedium;
      font-size: 32px;
    }
    p {
      margin-top: 10px;
      line-height: 28px;
      font-size: 24px;
      color: #6a676b;
    }
    span {
      font-family: $GothamMedium;
      font-size: 32px;
    }
  }
  &__image {
    @media (max-width: 1199px) {
      display: none;
    }
  }
}

.index-category-links {
  @media (max-width: 991px) {
    margin-bottom: 2rem;
  }
  text-align: center;
  a {
    @extend .link-black;
    font-size: 15px;
    display: block;
    padding: 5px 0;
    &:first-child {
      font-family: $GothamMedium;
      font-size: 24px;
    }
    &:last-child {
      @extend .link-default;
      display: inline-block;
      padding-bottom: 0;
    }
  }
}

.index-category-card {
  &__content {
    font-size: 18px;
    display: flex;
    text-align: left;
    align-items: center;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(121, 120, 120, 0.5);
    margin-bottom: 22px;
    min-height: 108px;
    padding: 0 20px;
    a {
      @extend .link-black;
      line-height: 20px;
      margin-left: 60px;
    }
    img {
      width: 42px;
      position: absolute;
    }
  }
  &:hover {
    box-shadow: 0 4px 15px 0 rgba(150, 149, 149, 0.5);
  }
}

.index-category-container {
  margin-top: 38px;
  text-align: center;
  .dr-btn-primary {
    font-family: $GothamMedium;
    font-size: 15px;
    margin-top: 2rem;
  }
}
