.top-line {
  &--index {
    background-color: #335e79;
    .top-line__city {
      color: #fff;
      opacity: 1;
      text-decoration: none; 
      border-bottom: 1px dashed;
    }
    .top-line__left {
      color: #fff;      
    }
    .top-line__link {
      color: #fff;
    }
  }
}

.index-image {
  background-image: url("/images/design/index_img.jpg");
  min-height: 534px;
  background-repeat: no-repeat;
  background-position: center;
  &__header {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.6rem;
    font-family: $GothamBlack;
    padding-top: 7%;
    line-height: 3.2rem;
  }
  &-content {
    &__text {
      color: #fff;
      font-size: 1.2rem;
      margin-top: 1rem;
      p {
        margin-bottom: 0;
      }
    }
    &__input {
      height: 56px;
      display: flex;
      //max-width: 55%;
      margin-top: 2rem;
      input, a {
        height: 100%;
      }
      a {
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      input {
        font-family: $GothamLight;
      } 
    }
    &__sub {
      color: #fff;
      font-family: $GothamLight;
      margin-top: 1rem;
    }
  }
}

.index-header {
  color: #4a4a4a;
  font-size: 2.2rem;
  font-family: $GothamBold;
  margin-bottom: 1.5rem;
}

.index-content {
  text-align: center;
  &-block {
    margin: 2rem 0;
  }
}
