.sign_in {
	&-form {
		&__header {
			@extend .dr-header;
      font-family: $GothamBold;
		}
		&__content {
			margin-top: 1rem;
      hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
		}
		&__inputs {
			margin-top: 2.5rem;
		}
    &__remind {
      margin-top: 1rem;
    }
		&__enter {
			text-align: center;
      margin-top: 2rem;
			.dr-btn-primary {
				width: 100%;		
				margin-top: 1rem;
			}      
		}		
	}
}

.first-time-sign-in {
	&__header {
		@extend .dr-header;
    font-family: $GothamBold;
	}
	&__button {
		margin-top: 2rem;
		.dr-btn-danger, .dr-btn-primary {
			width: 70%;			
		}
	}
	&__link, &__else {		
		margin-top: 2rem;		
	}   
}
