.single-task {
  &__header {
    @extend .dr-header;
    margin-bottom: 2rem;
  }
  &-head-block {
    p {			
      &:first-child {
        @extend .dr-header-sub;
        margin-top: 2rem;
      }
    }
    img {
      @extend .dr-image;
      width: 65%;
    }
    &__link {
      display: block;
      color: $blueColor;
    }
    .btn {
      margin-top: 3rem;
    }
    &--right {
      @media (min-width: 768px) {
        float: right;
      }
    }
  }
  &-description {
    &__header {
      @extend .dr-header-sub-blue;
      margin-bottom: 2rem;
    }
  }
  &-about {
    &__header {
      @extend .dr-header-sub;
      margin: 2rem 0;
    }
  }
  &-adress {
    &__header {
      @extend .dr-header-sub;
      margin-bottom: 2rem;
    }
    &__inputs {
      margin-bottom: 1rem;
      span {
        @extend .dr-header-sub;
        margin-left: 2rem;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  &-documents {
    &__header {
      @extend .dr-header-sub;
      margin: 2rem 0;
    }
    &__content {
      i {
        font-size: 2rem;
      }
      a {
        color: #4c4c4c;
        font-size: 0.8rem;
      }
      .row {
        margin-bottom: 1rem;
      }
    }
  }
}
