.task-description {
  &-about {
    &__text {
      font-size: 15px;
      margin-top: 2rem;
    }
  }
  &-adress {
    &__input {
      margin-top: 2rem;
      font-size: 0.8rem;
      .fa-map-marker {
        font-size: 1.3rem;
        color: #f44336;
        margin-right: 5px;
      }
    }
    &__map {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.task-profile {
  &-documents {
    &__header {
      padding: 25px 40px;
      border-bottom: 1px solid #d1d1d1;
    }
    &-list {
      padding: 25px 40px;
      &__link {
        color: $blueColor;
        margin-bottom: 10px;
        font-size: 0.8rem;
        a.link-default-thin {
          border-bottom: none;
          span {
            border-bottom: 1px dashed;
          }
        }
      }
    }
  }
  &-card {
    &-person {
      padding: 25px 40px;
      border-bottom: 1px solid #d1d1d1;
      &__name {
        text-align: center;
        @media (min-width: 992px) {
          text-align: left;
        }
        h4 {
          margin-top: 1rem;
          line-height: 18px;
        }
      }
    }
    &__contacts {
      @extend .performer-profile-main__contacts;
      p {
        justify-content: flex-start;
      }
    }
    &__price {
      padding: 25px 40px;
      p {
        margin-top: 1rem;
      }
    }
    &__time {
      padding: 25px 40px 15px;
      border-bottom: 1px solid #d1d1d1;
      a {
        margin-top: 1rem;
      }
    }
  }
}
