.task-card {
  &-person {
    &__image {
      position: relative;
      max-width: 90px;
      margin: 0 auto;
      img {
        border-radius: 50%;
        max-width: 90px;
        margin: 0 auto;
        margin-top: 5px;
      }
    }
    &__name {
      margin-top: 1rem;
      text-align: center;
    }
  }
  &-description {
    &__header {
      font-weight: bold;
      font-size: 1.3rem;
      @media (min-width: 576px) {
        margin-bottom: 0;
      }
      a {
        @extend .link-default;
      }
    }
    &__adress {
      margin-top: 1rem;
      font-size: 0.9rem;
      @media (min-width: 768px) {
        position: absolute;
        bottom: 9px;
        max-width: 450px;
        max-height: 21px;
      }
      @media (min-width: 1200px) {
        max-width: 600px;
      }
      img {
        margin-right: 5px;
      }
    }
  }
  &-refinement {
    min-height: 68px;
  }
  &-refinement, &-button {
    margin: 0 15px;
    &__price {
      @media (min-width: 576px) {
        text-align: right;
      }
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    &__time {
      @media (min-width: 576px) {
        text-align: right;
      }
      font-size: 0.9rem;
      i {
        font-size: 1rem;
      }
      &--quickly {
        color: #f44336;
      }
    }
    &__date {
      @media (min-width: 576px) {
        text-align: right;
      }
      font-size: 0.9rem;
      color: #9b9b9b;
    }
  }
  &-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 0 0;
    a + a {
      @media (min-width: 576px) {
        margin-left: 2rem;
      }
    }
    .col-12 {
      @media (max-width: 575px) {
        margin-top: 10px;
      }
    }
  }
  &-error-message {
    color: #f44336;
    border-top: solid 1px #e6e3e3;
    margin-top: 1rem;
    padding-top: 1rem !important;
    p {
      font-weight: 600;
    }
    ul {
      margin-top: -1rem;
      li {
        &:before {
          content:  "- ";
          position: relative;
          left: 0;
        }
      }
    }
  }
  &-refinement {
    margin-bottom: 1.5rem;
  }
  &-container {
    padding: 0 40px;
  }
}

.bottom-text {
  margin: 0px 10%;
}

.card {
  border: none;
  &-header {
    border: none;
    background-color: #fff;
    a {
      color: $blueColor;
    }
  }
}

.choose-price {
  &__header {
    @extend .task-card-description__header;
    font-size: 1.1rem;
    padding-left: 15px;
  }
  &__link {
    padding-left: 15px;
    @media (min-width: 1200px) {
      padding-right: 15px;
      padding-top: 3px;
      padding-left: 0px;
    }
  }
  &__line {
    border-top: 1px solid #ccc9c9;
    margin-top: 23px;
  }
  &__rub {
    color: #a5a3a3;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-right: 15px;
  }
}
