.master-card {
  &-vip {
    background-color: #fff8eb !important;
    border-right: 13px solid #dd8900;
    padding-right: 17px !important;
  }
  &-person {
    &__image {
      position: relative;
      max-width: 90px;
      margin: 0 auto;
      img {
        border-radius: 50%;
        max-width: 90px;
        margin: 0 auto;
        margin-top: 5px;
      }
      &--online::after {
        bottom: 0;
        right: 10%;
        border: 2px solid #fff;
        height: 14px;
        width: 14px;
        content: '';
        position: absolute;
        background-color: #8ac176;
        border-radius: 50%;
      }
    }
    &__status {
      margin-top: 1rem;
      text-align: center;
      font-size: 0.7rem;
      color: #bbcadb;
      margin-bottom: 0.5rem;
      font-weight: bold;
      i {
        font-size: 0.9rem;
      }
      span + span {
        margin-left: 5px;
      }
    }
  }
  &-description {
    @media (min-width: 992px) {
      padding-left: 10px;
    }
    .show_contacts_all {
      margin-bottom: 3px;
      display: inline-block;
    }
    &__header {
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      a {
        @extend .link-default;
      }
    }
    &__offline {
      color: #9b9b9b;
      position: absolute;
      font-size: 0.62rem;
      top: 4rem;
      @media (min-width: 1200px) {
        top: 2rem;
      }

      &--hide {
        display: none;
      }
    }
    &__price {
      font-size: 1.3rem;
      margin-right: 15px;
      font-weight: bold;
    }
    &__phone {
      margin-left: 2rem;
      font-weight: bold;
      &--hide {
        display: none;
      }
    }
    .performer-profile-main__contacts {
      p {
        display: inline-flex;
        justify-content: flex-start;
        margin-bottom: 0;
      }
    }
  }
  &-refinement {
    &__price {
      text-align: right;
      font-size: 1.5rem;
    }
    &__time {
      text-align: right;
    }
  }
}
