.master-card {
	&-person {
		&__image {
			@extend .dr-image;
		}
		&__status {
			margin-top: 10px;
			text-align: center;
			font-size: 0.8rem;
		}		
	}
	&-description {
		&__header {
			font-weight: bold;
			font-size: 1.2rem;
			margin-bottom: 0;
			a {
				color: #4c4c4c;
			}
		}
		&__price {
			font-size: 1.3rem;
			margin-right: 15px
		}
		&__experience {
			margin-top: 1rem;
			opacity: 0.5;
		}
	}
	&-refinement {        
		&__price {
			text-align: right;
			font-size: 1.5rem;
		}
		&__time {
			text-align: right;
		}
	}
}
