.dr-profile-card {
  &__image {
    text-align: center;
    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 50%;
      max-width: 90px;
      margin: 0 auto;
    }
    &-link {
      margin-top: 0.5rem;
    }
    &--margin-top {
      margin-top: 1rem;
    }
  }
  &__inputs {
    margin-top: 1rem;
    @media (min-width: 768px) {
      margin-left: 2rem;
    }
  }
  &__price {
    font-size: 18px;
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  &__description {
    padding: 5px 0 0 0;
  }
  &__name {
    margin-bottom: 1rem;
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  &__contacts {
    &-header {
      font-weight: 600;
    }
  }
  hr {
    margin: 1.5rem 0;
  }
}

.customer-welcome {
  &__content {
    h2 {
      color: #9b9b9b;
    }
    p {
      font-size: 15px;
    }
  }
}

.customer-anketa {
  &-social {
    overflow: hidden;
    display: flex;
    align-items: baseline;
    img {
      width: 42px;
    }
    a.link-secondary {
      margin-left: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    &--margin-bottom {
      margin-bottom: 2rem;
    }
    &--md-margin {
      @media (max-width: 767px) {
        margin-bottom: 1rem;
      }
    }
  }
}

.profile-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__links {
    a + a {
      margin-left: 45px;
    }
    .link-default.active {
      @extend .link-black;
      border-bottom: none;
    }
  }
}
