.dr-profile-card {
  &__image {
    text-align: center;
    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 50%;
      max-width: 90px;
      margin: 0 auto;
    }
    &-link {
      margin-top: 0.5rem;
    }
    &--margin-top {
      margin-top: 1rem;
    }
  }
  &__inputs {
    margin: 1rem 0 0 2rem;
  }
  &__price {
    font-size: 18px;
  }
  &__description {
    padding: 5px 0 0 0;
  }
  &__name {
    margin-bottom: 1rem;
  }
  &__contacts {
    &-header {
      font-family: $GothamMedium;
    }
  }
  hr {
    margin: 1.5rem 0;
  }
}

.customer-welcome {
  &__content {
    h2 {
      color: #9b9b9b;
    }
    p {
      font-size: 15px;
    }
  }
}

.customer-anketa {
  &-social {
    overflow: hidden;
    display: flex;
    align-items: baseline;
    img {
      width: 42px;
    }
    a.link-secondary {
      margin-left: 1rem;
    }
    &--margin-bottom {
      margin-bottom: 2rem;
    }
    &--md-margin {
      @media (max-width: 767px) {
        margin-bottom: 1rem;
      }
    }
  }
}
