html, body {
  height: 100%;
}

body {
  background-color: #edeef0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $color;
  font-weight: 100;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  color: $color;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  color: $color;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: $color;
}

h4 {
  font-size: 14px;
  font-weight: 600;
  color: $color;
}

label {
  margin-bottom: 0.8rem;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    max-width: 100%;
  }
}

.wrap {
  height: auto;
  min-height: 100%;
}

.hidden {
  display: none;
}

main {
  @media (min-width: 992px) {
    padding-bottom: 221px;
  }
}

footer {
  @media (min-width: 992px) {
    position: relative;
    margin-top: -221px;
    height: 221px;
    clear:both;
  }
}

.regular-content {
  margin: 25px 0;
}

.bg-faded {
  background-color: #fff;
}

.top-line {
  background-color: #335e79;
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
    @media (min-width: 768px) {
      padding: 5px 0;
    }
  }
  &__link {
    color: #fff;
    &:hover {
      color: #70bee9 !important;
      svg {
        fill: #ffb600;
      }
    }
    &:visited {
      color: #fff;
    }
  }
  &__link.active {
    color: $blueColor;
  }
  &__city {
    color: #fff;
    opacity: 1;
    margin-left: 0.2rem;
    border-bottom: 1px dashed;
  }
  &__left {
    color: #fff;
  }
  &__right {
    a ~ a {
      margin-left: 30px;
    }
  }
}

.top-line {
  &--index {
    .top-line__left {
      display: none;
    }
    .top-line__container {
      justify-content: flex-end;
      @media (max-width: 991px) {
        justify-content: center;
      }
    }
  }
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0.4);
  margin-top: 0.35rem;
  left: 5px;
  &:before {
    font-family: FontAwesome;
    top:0;
    opacity: 0.5;
  }
  &:focus {
    outline: none;
  }
}
.navbar-toggler[aria-expanded="false"] {
  &:before {
    content: "\f0c9";
  }
}
.navbar-toggler[aria-expanded="true"] {
  &:before {
    content: "\f00d";
  }
}

.navbar-dr-theme {
  padding: 8px 10px;
  box-shadow: 0 1px 3px 0 rgba(121, 120, 120, 0.5);
  position: relative;
  z-index: 1;
  .container {
    @media (max-width: 991px) {
      width: 75%;
      text-align: center;
    }
    @media (max-width: 579px) {
      width: 100%;
    }
  }
  .navbar-collapse {
    justify-content: space-between;
  }
  .navbar-brand {
    @media (max-width: 991px) {
      margin-right: 0;
    }
    img {
      vertical-align: inherit;
    }
  }
  .navbar-nav {
    > .nav-item {
      margin: 0 1rem;
      @media (max-width: 991px) {
        height: 80px;
        border-top: solid 1px #e6e3e3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }
      > .nav-link {
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: $color;
        display: inline-block;
        transition: $transition;
        &:hover {
          color: $blueColor;
        }
      }
      > .nav-link.active {
        @extend .link-secondary;
      }
    }
  }
  .navbar-right {
    @media (max-width: 991px) {
      width: 100%;
    }
    li {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

div#navbarNav {
  @media (max-width: 991px) {
    margin-left: -20%;
    margin-right: -20%;
  }
}

.dr-list {
  color: #9b9b9b;
}

.UI-header {
  font-weight: 700;
  color: #9b9b9b;
  font-size: 32px;
  margin-bottom: 1.5rem;
}

#task_form_map {
  height: 300px;
}
