html, body, .wrap {height: 100%;}

body {
  background-color: #edeef0;
  font-family: $GothamPro;
  font-size: 14px;  
  color: $color;
}

h1 {  
  font-size: 24px;
  font-family: $GothamBold;
  color: $color;
}

h2 {
  font-size: 20px;
  font-family: $GothamMedium;
  color: $color;
}

h3 {
  font-size: 18px;
  font-family: $GothamMedium;
  color: $color;
}

h4 {
  font-size: 14px;
  font-family: $GothamMedium;
  color: $color;
}

label {
  margin-bottom: 0.8rem;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    max-width: 100%;
  }
}

.wrap {
  height: auto;
  min-height: 100%;
}

.hidden {
  display: none;
}

main {
  @media (min-width: 992px) {
    padding-bottom: 221px;
  }
}

footer {
  @media (min-width: 992px) {
    position: relative;
    margin-top: -221px;
    height: 221px;
    clear:both;
  }
}

.regular-content {
  margin: 25px 0;
}

.bg-faded {
  background-color: #fff;
}

.top-line {
  &__container {
    display: flex;
    justify-content: flex-end;;
    padding: 5px 0;
  }
  &__link {
    color: $blueColor;
    margin-left: 30px;
  }
  &__city {
    text-decoration: underline;
    color: #4c4c4c;
    opacity: 0.5;
    margin-left: 0.2rem;
  }
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0.4);
  margin-top: 0.35rem;
  position: absolute;
  @media (max-width: 575px) {
    right: -70px;
  }
  .fa {
    opacity: 0.5;
  }
}

.navbar-dr-theme {
  padding: 8px 10px;
  box-shadow: 0 2px 10px 0 rgba(121, 120, 120, 0.5);
  position: relative;
  z-index: 1;
  .navbar-collapse {
    justify-content: space-between;
  }
  .navbar-brand {
    img {
      vertical-align: inherit;
    }
  }
  .navbar-nav {
    > .nav-item {
      margin: 0 1rem;
      > .nav-link {
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: $color;
        display: inline-block;
        transition: $transition;
        &:hover {
          color: $blueColor;
        }        
      }
      > .nav-link.active {
          @extend .link-secondary;
        }
    }    
  }
  .navbar-right {
    li {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.dr-list {
  color: #9b9b9b;
}

.UI-header {
  font-family: "GothamProBold", sans-serif;
  color: #9b9b9b;
  font-size: 32px;
  margin-bottom: 1.5rem;
}

#task_form_map {
  height: 300px;
}
