.registration-form {
  &__header {    
    @extend .dr-header;
    font-family: $GothamBold;
  }
  &__content {
    margin-top: 2rem;
    &-circle {
      text-align: center;      
      &__header {
        margin-bottom: 1rem;
      }
      &__item {
        display: inline-block;		
        margin: 0 11px;
        img {
          width: 42px;
        }        
      }
    }    
    &-button-submit {      
      margin-top: 2rem;
    }
  }
}
