.registration-form {
  &__header {
    @extend .dr-header;
  }
  &__content {
    margin-top: 2rem;
    &-circle {
      text-align: center;
      &__header {
        margin-bottom: 1rem;
      }
      &__item {
        display: inline-block;
        margin: 0;
        img {
          width: 42px;
        }
      }
    }
    &-button-submit {
      margin-top: 2rem;
    }
  }
  &-container {
    padding: 20px 50px;
  }
  &__links {
    margin-bottom: 3rem;
    margin-top: -1rem;
    a+a {
      margin-left: 2rem;
    }
  }
}

.registration-form__content-circle__item + .registration-form__content-circle__item {
  margin-left: 22px;
}
