.registration-form {
	&__header {
		text-align: center;
		@extend .dr-header;
	}
	&__content {
		margin-top: 30px;
		&-header {
			text-align: center;
		}
		&-circle {
			text-align: center;
			margin-bottom: 30px;
			&__item {
				display: inline-block;		
				margin: 0 10px;		
			}
		}
		&-inputs {
			margin-top: 50px;
			&__last-input {
				margin-top: 0;
				display: flex;
				input {
					max-width: 100%;
					margin-right: 20px;
				}
			}
		}
		&-button-submit {
			text-align: center;
			margin-top: 30px;
		}
	}
}

.dr-block-style {
	&-registration {
		margin: 10px 0;
		@media (min-width: 448px) {
			margin: 10px 10%;
		}
		@media (min-width: 992px) {
			margin: 10px 20%;
		}
	}
}
