.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
  &-align {
    text-align: right;
  }
}

.dr-h2 {
  font-size: 20px;
  font-weight: 600;
  color: $color;
}

.dr-h5 {
  font-weight: bold;
}

.gray-text {
  color: #9b9b9b;
}

.expand-block {
  &--hide {
    overflow-y: hidden;
  }
}

.div-navbar {
  display: flex;
}

.display-inline {
  display: inline-block;
}

.dr-header {
  font-size: 1.5rem;
  font-weight: 700;
  &-sub {
    font-size: 1.3rem;
    font-weight: bold;
    &-blue {
      color: $blueColor;
      font-size: 1.3rem;
    }
  }
}

.dr-content-header {
  padding: 1rem 0 1rem;
  @media(min-width: 992px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  h1 {
    @media(max-width: 991px) {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  &__link {
    @extend .link-header;
  }
  &--reverse {
    display: flex;
    @media(min-width: 768px) {
      flex-direction: row-reverse;
      align-items: baseline;
      justify-content: space-between;
    }
    @media(max-width: 767px) {
      flex-direction: column-reverse;
    }
  }
}

.sm-center {
  @media (max-width: 575px) {
    text-align: center;
    width: 100%;
  }
}

.md-center {
  @media (max-width: 767px) {
    text-align: center;
    width: 100%;
  }
}

.change_succes {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  background-color: #60ad12;
  padding: 20px 40px;
  position: relative;
  margin-bottom: 5px;
  border-radius: 3px;
  &__content {
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 480px) {
      margin-left: 0;
    }
    a {
      color: #fff;
      margin-left: 5px;
    }
  }
  .fa-check {
    position: absolute;
    font-size: 50px;
    top: 5px;
  }
  > i {
    @media (max-width: 480px) {
      display: none;
    }
  }
}

.dr-block-hr {
  margin: 2rem -40px;
}

.dr-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.dr-text {
  &-12 {
    font-size: 12px;
  }
  &-15 {
    font-size: 15px;
  }
}

select.form-control:not([size]):not([multiple]) {
  height: 100%;
}

.anonymous-avatar {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-weight: 600;
    font-size: 40px;
    color: #fff;
  }
  &--teal {
    background-color: #00bcd4;
  }
  &--green {
    background-color: #009688;
  }
  &--red {
    background-color: #e91e63;
  }
  &--lime {
    background-color: #4caf50;
  }
  &--gray {
    background-color: #607d8b;
  }
  &--brown {
    background-color: #b94824;
  }
}
