.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
  &-align {
    text-align: right;
  }
}

.gray-text {
  color: #9b9b9b;
}

.expand-block {
  &--hide {
    max-height: 100px;
    overflow-y: hidden;
    margin-bottom: 2rem;
  }
}

.display-inline {
  display: inline-block;
}

.margin-side {
  margin-left: 15px;
  margin-right: 15px;
}

.toggle-hr {
  @media (min-width: 992px) {
    display: none;
  }
}

.lg-hide {
  @media (max-width: 991px) {
    display: none;
  }
}

.xl-hide {
  @media (max-width: 1199px) {
    display: none;
  }
}

.xl-right {
  @media (min-width: 1200px) {
    text-align: right;
  }
}

.spacer-lg {
  @media (min-width: 992px) {
    margin-bottom: 2rem;
  }
}

.col-margin-bottom {
  margin-bottom: 1rem;
}

.dr-header {
  font-size: 1.5rem;
  font-family: $GothamBold;
  &-sub {
    font-size: 1.3rem;
    font-weight: bold;
    &-blue {
      color: $blueColor;
      font-size: 1.3rem;
    }
  }
}

.change_succes {
  color: #fff;
  font-family: $GothamMedium;
  font-size: 15px;
  background-color: #60ad12;
  padding: 20px 40px;
  position: relative;
  margin-bottom: 5px;
  border-radius: 3px;
  &__content {
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: #fff;
    }
  }
  .fa-check {
    position: absolute;
    font-size: 50px;
    top: 5px;
  }
}

.dr-block-hr {
  margin: 2rem -40px;
}

.dr-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2px;
}

select.form-control:not([size]):not([multiple]) {
  height: 100%;
}

//Яндекс карты

.ymaps-2-1-53-_hidden-text {
  display: none !important;
}

.ymaps-2-1-53 {
  &-search {
    display: none !important;
  }
  &-scaleline {
    display: none !important;
  }
  &-controls {
    &__toolbar_right {
      display: none !important;
    }
  }
}
