.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #f44336;
}

.toggle-hr {
  @media (min-width: 992px) {
    display: none;
  }
}

.col-margin-bottom {
  margin-bottom: 1rem;
}

.breadcrumb {
  margin-bottom: 0;
  background-color: inherit;
  &-item {
    color: $blueColor;
  }
}

.dr-header {
  font-size: 1.5rem;
  font-weight: bold;
  &-sub {
    font-size: 1.3rem;
    font-weight: bold;
    &-blue {			
      color: $blueColor;
      font-size: 1.3rem;
    }
  }
}

.dr-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2px;
}

select.form-control:not([size]):not([multiple]) {
  height: 100%;
}

//Яндекс карты

.ymaps-2-1-53-_hidden-text {
  display: none !important;
}

.ymaps-2-1-53 {
  &-search {
    display: none !important;
  }
  &-scaleline {
    display: none !important;
  }  
  &-controls {
    &__toolbar_right {
      display: none !important;
    }
  }
}


//Каминг сун временная

.footer-coming-soon {
  margin-top: -16px;
}
