.contract_app {
  .questions_container {
    width: 30%;
    position: relative;
    float: left;

    fieldset {
      label {
        display: block;
        clear: both;
      }
    }
  }

  .text_container {
    padding-left: 10px;
    width: 60%;
    position: relative;
    float: left;

    .hidden { display: none; }

    .variable {
      display: inline;

      &.active {
        .container { display: inline; }
        .placeholder { color: #999; }
      }

      &.filled {
        .container { display: inline; }
        .placeholder { display: none; }
      }

      &.error {
        .container { color: red; }
        .placeholder { color: red; }
      }

      .container {
        background-color: #eee;
        color: #111;
        outline: none;
        display: none;
        user-select: auto;
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
        -khtml-user-select: text;
        -webkit-touch-callout: default;
      }

      .placeholder {
        background-color: #eee;
        color: #555;
      }
    }
  }
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
