<% if current_user && (current_user.permission.admin? || current_user.permission.editor? || current_user.permission.admin_dashboard? || current_user.permission.editor_dashboard?) %>
<nav>
  <ul>
    <% if current_user.permission.admin? || current_user.permission.admin_dashboard? %>
      <li><a href="<%= admin_root_path %>" style="color: red;">Панель администратора</a></li>
    <% end %>
    <% if current_user.permission.editor? || current_user.permission.editor_dashboard? %>
      <li><a href="<%= editor_root_path %>" style="color: red;">Панель редактора</a></li>
    <% end %>
  </ul>
</nav>
<% end %>
