<div class="dr-bottom-menu">
  <nav>
    <ul>
      <li><a href="<%= root_path %>">Главная</a></li>
      <li><a href="#">О проекте делоруб</a></li>
      <li><a href="#">Как это работает?</a></li>
      <li><a href="#">Как стать мастером?</a></li>
      <li><a href="#">Это интересно</a></li>
      <li><a href="#">Контакты компании</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Помощь</a></li>
      <% if current_user %>
        <li><a href="<%= destroy_user_session_path %>">Выход</a></li>
      <% end %>
    </ul>
  </nav>
  <%= render 'admin_links' %>
</div>
