nav.navbar.navbar-toggleable-md.bg-faded.navbar-dr-theme
  .container
    button.navbar-toggler.navbar-toggler-right aria-controls="navbarNav" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarNav" data-toggle="collapse" type="button"
      i.fa.fa-bars aria-hidden="true"
    a.navbar-brand href= root_path
      img alt="" src="/images/design/logo.svg" /
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link href=profiles_path data-identity="header_masters_index"  Исполнители
        li.nav-item
          a.nav-link href=tasks_path data-identity="header_tasks_index"  Все задания
      ul.navbar-nav.navbar-right
        li.nav-item
          a.dr-btn-primary href=new_profile_path data-identity="header_btn_master_sign_up"  Стать исполнителем
        li.nav-item
          a.dr-btn-danger href=new_task_path data-identity="header_btn_create_task"  Создать задание
