<div class="col-sm-1 col-sm-pull-11 dr-side-menu">
  <br>
  <br>
  <a href="#" class="gamburg-menu icon-gamb_menu"></a>
  <div class="totalz">
    <a href="#"><span class="n1">0</span><span class="txa">Мои<br> задания</span></a>
  </div>
  <nav>
    <ul class="left_menu">
      <li><a href="#"><span class="icon_top icon-add"></span>Создать<br> задание</a></li>
      <li><a href="<%= new_profile_path %>"><span class="icon_top icon-zadacha"></span>Создать<br> анкету</a></li>
      <li><a href="#"><span class="icon_top icon-setups"></span>Мои<br> настройки</a></li>
    </ul>
  </nav>
  <div class="year">© 2017</div>
</div>
