<div class="dr-header-span dr-header-span-error">
  <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
  <p>
    <span class="dr-header-span-unmarked"><%= message %><span>
  </p>
</div>
