<div class="dr-header-span dr-header-span-complete">
  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
  <p>
    <span class="dr-header-span-unmarked"><%= message %><span>
  </p>
</div>
