%section.reg-etap
  .cont
    %h3
      ВСЕГО
      %b 3
      простых шага
    .etap-list
      %a.etap-1{:href => ""}
        %img{:src => "/assets/reg-1-2.jpg"}/
      %a.etap-2{:href => ""}
        %img{:src => "/assets/reg-2-2.jpg"}/
      %a.etap-3{:href => ""}
        %img{:src => "/assets/reg-3-2.jpg"}/
      .clear
%section.reg-form.reg-form-step
  %form{"accept-charset" => "UTF-8", :action => "/profile/step2_2", :method => "post"}
    .cont
      %input{:type => "hidden", :name => "ismaster", :value => "1"}
      %input{:type => "hidden", :name => "user_id", :value => @current_user.id}
      %h3 Правила и вопросы по работе с сервисом Бюро Мастеров
      .alert 
        %span Пожалуйста, изучите несколько простых правил работы в Б М
      .reg-text
        .left
          .step 1
          .line
          .clear
          .description
            %p В Личном кабинете мастера Вы найдете полную информацию работы с сервисом. Для просмотра новых заявок заходите в Ваш личный кабинет как можно чаще.
            %p Если заказ Вам не интересен, нажмите кнопку “В АРХИВ” и он исчезнет из списка.  Если Вы считаете, что готовы взять заказ, то оставьте комментарий на странице заявки, нажав кнопку “ОТВЕТИТЬ”. Укажите предполагаемую цену за которую выполните заказ, расскажите о возможных трудностях и почему именно Вас стоит выбрать в качестве исполнителя. Будьте активны, но не навязчивы. Пока Вы новый пользователь, получать заказы сложнее, чем мастеру с отзывами и рейтингом, поэтому блесните своими знаниями в комментарии к заказу.
        .right
          = image_tag "reg-2.png"
        .clear

      .clear
    .questions
      .cont
        .left
          .num
            %b 1
            %span ВОПРОС
            %i из 5
        .right
          .alert Выбрать один из представленных ответов
          %h2 Как повысить вероятность получения нового заказа?
          %input{:type => "radio", :name => "quest"}
          %label Ждать пока люди сами позвонят. Вы зарегистрировались в Бюро Мастеров и заказчики начнут звонить сразу же.
          .clear
          %input{:type => "radio", :name => "quest"}
          %label Зайти в личный кабинет, в разделе «Новые заказы» изучить заявки, как будет время ответить наиболее интересным
          .clear
          %input{:type => "radio", :name => "quest"}
          %label Зайти в личный кабинет, в разделе «Новые заказы» найти подходящие заявки, сразу же ответить на них. В ответе указать свои преимущества, нюансы с которыми можно столкнутся в процессе работы и предполагаемую цену.
          .clear
        .clear
    .cont
      %button.btn.btn-reg{:type => "submit"}
        %b ШАГ 2:
        ОТВЕТИТЬ И ПЕРЕЙТИ К вопросу 2