%section.reg-etap
  .cont
    %h3
      ВСЕГО
      %b 3
      простых шага
    .etap-list
      %a.etap-1{:href => ""}
        %img{:src => "/assets/reg-1-2.jpg"}/
      %a.etap-2{:href => ""}
        %img{:src => "/assets/reg-2-2.jpg"}/
      %a.etap-3{:href => ""}
        %img{:src => "/assets/reg-3-2.jpg"}/
      .clear
%section.reg-form.reg-form-step
  %form{"accept-charset" => "UTF-8", :action => "/profile/step2_3", :method => "post"}
    .cont
      %input{:type => "hidden", :name => "ismaster", :value => "1"}
      %input{:type => "hidden", :name => "user_id", :value => @current_user.id}
      %h3 Правила и вопросы по работе с сервисом Бюро Мастеров
      .alert 
        %span Пожалуйста, изучите несколько простых правил работы в Б М
      .reg-text
        .left
          .step 2
          .line
          .clear
          .description
            %p Если ваш ответ заинтересует заказчика, он нажмет «СВЯЗАТЬСЯ С МАСТЕРОМ». Ему будут показаны Ваш номер телефона и e-mail. Одновременно, появится возможность связаться в личных сообщениях прямо на сайте Бюро Мастеров. 
            Вы защищены от спама и мошенничества, поэтому контакты отображаются после нажатия ««СВЯЗАТЬСЯ С МАСТЕРОМ». Эта кнопка есть как под вашими ответами, так и на странице Вашего профиля. 
            Контакты заказчика скрыты всегда, чтобы узнать его номер телефона напишите ему в Личные сообщения. 




        .right
          = image_tag "reg-2-2.png"
        .clear

      .clear
    .questions-red
      .cont
        .left
          !
        .right
          КАТЕГОРИЧЕСКИ ЗАПРЕЩЕНО оставлять в ответах свои контактные данные, за это Вы будете удалены из системы без возможности восстановления аккаунта.
        .clear
    .questions
      .cont
        .left
          .num
            %b 2
            %span ВОПРОС
            %i из 5
        .right
          .alert Выбрать один из представленных ответов
          %h2 Вы хотите поскорее связаться с заказчиком, что делать?
          %input{:type => "radio", :name => "quest"}
          %label Позвонить ему
          .clear
          %input{:type => "radio", :name => "quest"}
          %label Написать ответ на его заявку, если моя кандидатура его заинтересует, он сам позвонит или напишет
          .clear
          %input{:type => "radio", :name => "quest"}
          %label В ответе под его заявкой написать свой номер с пометкой СРОЧНО ПОЗВОНИТЕ МНЕ
          .clear
        .clear
    .cont
      %button.btn.btn-reg{:type => "submit"}
        %b ШАГ 2:
        ОТВЕТИТЬ И ПЕРЕЙТИ К вопросу 3