%section.reg-etap
  .cont
    %h3
      ВСЕГО
      %b 3
      простых шага
    .etap-list
      %a.etap-1{:href => ""}
        %img{:src => "/assets/reg-1-2.jpg"}/
      %a.etap-2{:href => ""}
        %img{:src => "/assets/reg-2-2.jpg"}/
      %a.etap-3{:href => ""}
        %img{:src => "/assets/reg-3-2.jpg"}/
      .clear
%section.reg-form.reg-form-step
  %form{"accept-charset" => "UTF-8", :action => "/profile/step2_4", :method => "post"}
    .cont
      %input{:type => "hidden", :name => "ismaster", :value => "1"}
      %input{:type => "hidden", :name => "user_id", :value => @current_user.id}
      %h3 Правила и вопросы по работе с сервисом Бюро Мастеров
      .alert 
        %span Пожалуйста, изучите несколько простых правил работы в Б М
      .reg-text
        .left
          .step 3
          .line
          .clear
          .description
            %p Вы договорились о выполнении заявки. В Личном кабинете в разделе Мои ответы необходимо нажать “ПРИНЯТЬ ЗАКАЗ”, выбрать из списка Вашего заказчика(будут отображены все пользователи нажавшие «СВЯЗАТЬСЯ С МАСТЕРОМ»). Сделать это надо строго в день назначения на заказ. Выбрать ориентировочный срок начала и окончания заказа. Это даст возможность заказчику оставить отзыв о вашей работе. После выполнения заказа обязательно напомните заказчику о оставлении отзыва. Запрещено давить на заказчика и просить завысить Вашу оценку или написать приукрашенный отзыв. 
            Будьте профессионалом! Чем у Вас больше отзывов, тем легче получить новый заказ!




        .right
          = image_tag "reg-2-2.png"
        .clear

      .clear
    .questions
      .cont
        .left
          .num
            %b 3
            %span ВОПРОС
            %i из 5
        .right
          .alert Выбрать один из представленных ответов
          %h2 Как появятся отзывы о моей работе? 
          %input{:type => "radio", :name => "quest"}
          %label Любой желающий может зайти на страницу моей анкеты и написать отзыв.
          .clear
          %input{:type => "radio", :name => "quest"}
          %label Я выполнил заказ и заказчик может написать отзыв.
          .clear
          %input{:type => "radio", :name => "quest"}
          %label В день назначения на заказ я захожу в Личный кабинет, Мои ответы, нажимаю Я назначен на заказ, заполняю все данные. После выполнения заявки я напомню заказчику о написании отзыва. 
          .clear
        .clear
    .cont
      %button.btn.btn-reg{:type => "submit"}
        %b ШАГ 2:
        ОТВЕТИТЬ И ПЕРЕЙТИ К вопросу 4