%section.reg-etap
  .cont
    %h3
      ВСЕГО
      %b 3
      простых шага
    .etap-list
      %a.etap-1{:href => ""}
        %img{:src => "/assets/reg-1-2.jpg"}/
      %a.etap-2{:href => ""}
        %img{:src => "/assets/reg-2-2.jpg"}/
      %a.etap-3{:href => ""}
        %img{:src => "/assets/reg-3-2.jpg"}/
      .clear
%section.reg-form.reg-form-step
  %form{"accept-charset" => "UTF-8", :action => "/profile/step_3", :method => "post"}
    .cont
      %input{:type => "hidden", :name => "ismaster", :value => "1"}
      %input{:type => "hidden", :name => "user_id", :value => @current_user.id}
      %h3 Правила и вопросы по работе с сервисом Бюро Мастеров
      .alert 
        %span Пожалуйста, изучите несколько простых правил работы в Б М
      .reg-text
        .left
          .step 5
          .line
          .clear
          .description
            %p Вы должны понимать, что Ваш успех в Ваших руках. Заказчики выбирают грамотных, надежных мастеров. Не ждите, что люди начнут звонить сами. Отвечайте на новые заявки сразу же по мере их поступления, подробно расскажите о своих преимуществах и почему заказ стоит доверить именно Вам. Если в своем предложении Вы укажете цену далекую от той, которую возьмете с заказчика мы можем расценить это как мошенничество. 
            Не стоит надеяться, что каждый раз будут выбирать именно Вас. Старайтесь отвечать на максимальное число заявок. Не сдавайтесь, если по началу Вам не повезло, то в другой день Вы обязательно найдете заказчика. По мере наработки отзыва и рейтинга люди начнут сами писать и звонить Вам. Первое время Вы работаете на репутацию, потом она работает на Вас.

        .right
          = image_tag "reg-2-5.png"
        .clear

      .clear
    .questions-example
      .cont
        .left
          = image_tag "mac-5.png"
        .right
          Вот пример<br> написания<br> комментариев,<br> хотим отметить, что<br> самая низкая цена не<br> является залогом<br> успеха. 
        .clear
    .questions
      .cont
        .left
          .num
            %b 5
            %span ВОПРОС
            %i из 5
        .right
          .alert Выбрать один из представленных ответов
          %h2 Как увеличить шанс получения заказа?
          %input{:type => "radio", :name => "quest"}
          %label Выставить самую низкую цену. 
          .clear
          %input{:type => "radio", :name => "quest"}
          %label Дать ответ на 1 заявку. Поздороваться, быть вежливым, описать все преимущества выбора Вас в качестве Мастера.
          .clear
          %input{:type => "radio", :name => "quest"}
          %label Что ни пиши, а заказчика не угадаешь. Одному надо подешевле, второй сам не знает чего хочет. Если писать всем подряд, то шанс увеличивается.
          .clear
          %input{:type => "radio", :name => "quest"}
          %label Я понимаю, что каждый случай индивидуален и буду отвечать на заявки пока не получу заказ. Меня могут выбрать сразу, но, возможно, придется написать десяток ответов на заявки. Буду отвечать на все интересные мне заявки, буду вежлив и расскажу почему заказчику стоит обратится именно ко мне.
          .clear
        .clear
    .cont
      %button.btn.btn-reg{:type => "submit"}
        %b ШАГ 3:
        ОТВЕТИТЬ И ПЕРЕЙТИ к загрузке документов