<div class="dr-one-ticket-refinement dr-all-task without-border padding-none">
  <div class="row dr-all-masters-days margin-none">
    <div class="col-md-4 border-right dr-all-masters-days-blocks">
      <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
      <br/>
      <span class="gray-text-light">Рабочие<br/>дни</span>
      <br/>
      <span class="bold-text-light">Пн, Вт, Ср, Чт, Пт</span>
    </div>
    <div class="col-md-4 border-right dr-all-masters-days-blocks">
      <span class="glyphicon glyphicon-bed" aria-hidden="true"></span>
      <br/>
      <span class="gray-text-light">Выходные<br/>дни</span>
      <br/>
      <span class="red-text bold-text-light">Сб, Вс</span>
    </div>
    <div class="col-md-4 dr-all-masters-days-blocks">
      <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
      <br/>
      <span class="gray-text-light">Рабочее<br/>время</span>
      <br/>
      <span class="bold-text-light">с <%= profile.working_hours_from %> до <%= profile.working_hours_to %></span>
    </div>
  </div>
</div>
