<div class="dr-help-search">
  <%= form_tag(help_index_path, method: 'get') do %>
    <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Введите ключевые слова для поиска' %>
  <% end %>
</div>
