%footer
  .cont
    .left
      %img{:src => "/assets/footer-logo.png"}/
      .socs
        %a.g{:href => ""}
        %a.vk{:href => ""}
        %a.tw{:href => ""}
        %a.fb{:href => ""}
        %a.rss{:href => ""}
        %a.ok{:href => ""}
        .clear
      = link_to "СТАТЬ МАСТЕРОМ!", "#", :class => "btn btn-master"
    .menu
      %h4 КАК ЭТО РАБОТАЕТ?
      %a{:href => "/blank"} Как стать исполнителем
      %a{:href => "/kak-eto-rabotaet"} Как это работает
      %a{:href => "/kak-eto-rabotaet"} Безопасность и гарантии
      %a{:href => "/blank"} Награды и рейтинг
      %a{:href => "/blank"} Отзывы исполнителей
      %a{:href => "/blank"} Отзывы заказчиков
    .menu
      %h4 КОНТАКТЫ
      %span 8 (495) 444 55 55г. Москва
      %span 8 (812) 123 34 34 г. Санкт-Петербург
      %span пн.-пт 9:00 — 23:00
      %span сб.-вс 9:00 — 21:00
      %span Эл. почта: support@mburo.ru
    .menu.menu-last
      %h4 НАША КОМПАНИЯ
      %a{:href => "/blank"} Компания
      %a{:href => "/blank"} Наш блог
      %a{:href => "/blank"} Вакансии
      %a{:href => "/blank"} Контакты
      %a{:href => "/blank"} СМИ о нас
    .clear