<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="padding: 0; margin: 0;">
    <table width="98%" border="0" cellspacing="0" cellpadding="0" style="padding: 0; margin: 0 auto;">
      <tr>
        <td align="center" valign="top" bgcolor="#edeef0" style="background-color:#edeef0;">
          <br/>
          <br/>
          <table width="550" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center" valign="top" style="border-radius: 3px;padding-left:0; padding-right:0; background-color:#ffffff;box-shadow: 0 1px 3px 0 rgba(121, 120, 120, 0.5);">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, 'Times New Roman', Times, serif;">
                  <tr>
                    <td valign="middle">
                      <br/>
                      <br/>
                      <table style="width: 100%; padding-left: 40px;padding-right: 40px;">
                        <tr>
                          <td style="width: 50%; font-size:42px;color:#525252">
                            <%= image_tag '/images/design/logo.svg', alt: 'ДелоРуб' %>
                          </td>
                          <td align="right"><a href="https://delorub.ru" style="color: #519dc7;border-bottom: 1px dashed;text-decoration: none;">Перейти на сайт delorub.ru</a></td>
                        </tr>
                      </table>
                      <br/>
                      <br/>
                    </td>
                  </tr>
                  <%= yield %>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
